<!-- User Section -->
<div class="suricate-menu">
  <div id="user-section" class="sidenav-section">
    <div class="avatar-container">
      <div class="avatar">
        @if (connectedUser.avatarUrl) {
          <img ngSrc="{{ connectedUser.avatarUrl }}" width="70" height="70" alt="avatar"/>
        }
        @if (!connectedUser.avatarUrl) {
          <span>{{ getInitials() }}</span>
        }
      </div>
    </div>

    <mat-accordion hideToggle="true">
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="names-idp-container">
              <div class="names-container">
                <div class="firstname-lastname">{{ connectedUser.firstname }} {{ connectedUser.lastname }}</div>
                <div>{{ connectedUser.username }}</div>
              </div>
              @if (isConnectedByIdp()) {
                <div>
                  @if (isConnectedWithGithub()) {
                    <img ngSrc="../../../../../assets/images/github-white.svg" width="22" height="22" alt="GitHub" />
                  }
                  @if (isConnectedWithGitlab()) {
                    <img ngSrc="../../../../../assets/images/gitlab.svg" width="22" height="22" alt="GitLab" />
                  }
                </div>
              }
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list>
          <mat-list-item>
            <a class="submenu-item" [routerLink]="['/settings']">
              <mat-icon> {{ materialIconRecords[iconEnum.SETTINGS] }} </mat-icon>
              <span> {{ 'settings' | translate }} </span>
            </a>
          </mat-list-item>
          <mat-list-item>
            <a class="submenu-item" (click)="logout()">
              <mat-icon> {{ materialIconRecords[iconEnum.LOGOUT] }} </mat-icon>
              <span> {{ 'logout' | translate }} </span>
            </a>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  @if (menu) {
    <div class="sidenav-section-container">
      <mat-divider></mat-divider>
      <div class="sidenav-section home-tv-menu">
        <a routerLinkActive="active" [routerLink]="['/home']" [matTooltip]="'home' | translate">
          <div class="common-icon-button">
            <mat-icon> {{ materialIconRecords[iconEnum.HOME] }} </mat-icon>
          </div>
        </a>
        <a routerLinkActive="active" [routerLink]="['/tv']" [matTooltip]="'tv.view' | translate" target="_blank">
          <div class="common-icon-button">
            <mat-icon> {{ materialIconRecords[iconEnum.TV] }} </mat-icon>
          </div>
        </a>
      </div>
      <mat-divider></mat-divider>
      @for (category of menu.categories; track category) {
        <div class="sidenav-menu-section">
          <h1 class="menu-title">{{ category.label | translate }}</h1>
          <mat-nav-list>
            @for (item of category.items; track item) {
              <a mat-list-item routerLinkActive="active" [routerLink]="item.linkConfiguration.link">
                {{ item.label | translate }}
              </a>
            }
          </mat-nav-list>
        </div>
      }
    </div>
  }

  <mat-divider></mat-divider>

  <suricate-pages-footer id="footer">footer</suricate-pages-footer>
</div>
