<!-- User Section -->
<div class="suricate-menu">
  <div id="user-section" class="sidenav-section">
    <div class="avatar-container">
      <div class="avatar">
        <img *ngIf="connectedUser.avatarUrl" src="{{connectedUser.avatarUrl}}" />
        <span *ngIf="!connectedUser.avatarUrl">{{ getInitials() }}</span>
      </div>
    </div>

    <mat-accordion hideToggle="true">
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div fxLayout="row" class="names-idp-container">
              <div class="names-container">
                <div class="firstname-lastname">{{ connectedUser.firstname }} {{ connectedUser.lastname }}</div>
                <div>{{ connectedUser.username }}</div>
              </div>
              <div class="idp-icon">
                <img *ngIf="isConnectedWithGithub()" src="../../../../../assets/images/github-white.svg" />
                <img *ngIf="isConnectedWithGitlab()" src="../../../../../assets/images/gitlab.svg" />
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-nav-list class="submenu">
          <div>
            <a mat-list-item [routerLink]="['/settings']">
              <mat-icon> {{ materialIconRecords[iconEnum.SETTINGS] }} </mat-icon>
              <span> {{ 'settings' | translate }} </span>
            </a>
          </div>
          <div>
            <a mat-list-item (click)="logout()">
              <mat-icon> {{ materialIconRecords[iconEnum.LOGOUT] }} </mat-icon>
              <span> {{ 'logout' | translate }} </span>
            </a>
          </div>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div *ngIf="menu" class="sidenav-section-container" fxLayout="column wrap" fxLayoutGap="8px">
    <mat-divider></mat-divider>

    <div id="button-section" class="sidenav-section" fxLayout="row wrap" fxLayoutAlign="start center">
      <a fxFlex="50" routerLinkActive="active" [routerLink]="['/home']" [matTooltip]="'home' | translate">
        <div fxFlex="100" class="common-icon-button" fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon color="default"> {{ materialIconRecords[iconEnum.HOME] }} </mat-icon>
        </div>
      </a>
      <a fxFlex="50" routerLinkActive="active" [routerLink]="['/tv']" [matTooltip]="'tv.view' | translate" target="_blank">
        <div fxFlex="100" class="common-icon-button" fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-icon color="default"> {{ materialIconRecords[iconEnum.TV] }} </mat-icon>
        </div>
      </a>
    </div>

    <mat-divider></mat-divider>

    <!-- Build the menu -->
    <div *ngFor="let category of menu.categories" class="sidenav-section">
      <h1 class="little title">{{ category.label | translate }}</h1>

      <mat-nav-list>
        <a *ngFor="let item of category.items" mat-list-item routerLinkActive="active" [routerLink]="item.linkConfiguration.link">
          {{ item.label | translate }}
        </a>
      </mat-nav-list>
    </div>
  </div>

  <mat-divider></mat-divider>

  <suricate-pages-footer id="footer">footer</suricate-pages-footer>
</div>
