@for (configuration of configurations; track configuration) {
  @switch (configuration.variant) {
    <!-- Display stroked button -->
    @case ('stroked') {
      <ng-container *ngTemplateOutlet="strokedButton; context: { configuration: configuration }"> </ng-container>
    }
    @case ('miniFab') {
      <ng-container *ngTemplateOutlet="miniFabButton; context: { configuration: configuration }"> </ng-container>
    }
    @default {
      <ng-container *ngTemplateOutlet="strokedButton; context: { configuration: configuration }"> </ng-container>
    }
  }
}

<!------------------------------------------------------------------------------------------------------------->
<!--                                         BUTTON VARIANT                                                  -->
<!------------------------------------------------------------------------------------------------------------->

<ng-template #strokedButton let-configuration="configuration">
  @if (shouldDisplayButton(configuration, object)) {
    <button
      mat-stroked-button
      [matTooltip]="configuration.tooltip?.message | translate"
      [matTooltipPosition]="configuration.tooltip?.position ? $any(configuration.tooltip.position) : 'below'"
      [type]="configuration.type ? configuration.type : buttonTypeEnum.BUTTON"
      [color]="$any(configuration.color)"
      [disabled]="configuration.disabled | async"
      (click)="configuration.callback ? configuration.callback($event, object) : null"
      >
      @if (configuration.icon) {
        <mat-icon [ngClass]="{ 'icon-with-label': configuration.icon && configuration.label }">
          {{ materialIconRecords[configuration.icon] }}
        </mat-icon>
      }
      @if (configuration.label) {
        <span> {{ configuration.label | translate }} </span>
      }
    </button>
  }
</ng-template>

<ng-template #miniFabButton let-configuration="configuration">
  @if (shouldDisplayButton(configuration, object)) {
    <button
      mat-mini-fab
      [matTooltip]="configuration.tooltip?.message | translate"
      [matTooltipPosition]="configuration.tooltip?.position ? $any(configuration.tooltip?.position) : 'below'"
      [type]="configuration.type ? configuration.type : buttonTypeEnum.BUTTON"
      [color]="$any(configuration.color)"
      [disabled]="configuration.disabled | async"
      (click)="configuration.callback ? configuration.callback($event, object) : null"
      >
      @if (configuration.icon) {
        <mat-icon [ngClass]="{ 'icon-with-label': configuration.icon && configuration.label }">
          {{ materialIconRecords[configuration.icon] }}
        </mat-icon>
      }
      @if (configuration.label) {
        <span> {{ configuration.label | translate }} </span>
      }
    </button>
  }
</ng-template>
