@for (configuration of configurations(); track configuration) {
	@switch (configuration.variant) {
		<!-- Display stroked button -->
		@case ('flat') {
			<ng-container *ngTemplateOutlet="flatButton; context: { configuration: configuration }"> </ng-container>
		}
		@case ('miniFab') {
			<ng-container *ngTemplateOutlet="miniFabButton; context: { configuration: configuration }"> </ng-container>
		}
		@default {
			<ng-container *ngTemplateOutlet="flatButton; context: { configuration: configuration }"> </ng-container>
		}
	}
}

<!------------------------------------------------------------------------------------------------------------->
<!--                                         BUTTON VARIANT                                                  -->
<!------------------------------------------------------------------------------------------------------------->

<ng-template #flatButton let-configuration="configuration">
	@if (shouldDisplayButton(configuration, object())) {
		<button
			mat-flat-button
			[matTooltip]="configuration.tooltip?.message | translate"
			[matTooltipPosition]="configuration.tooltip?.position ? $any(configuration.tooltip.position) : 'below'"
			[type]="configuration.type ? configuration.type : buttonType.BUTTON"
			[class.button-warn-color]="configuration.color === buttonColor.WARN"
			[disabled]="configuration.disabled | async"
			(click)="configuration.callback ? configuration.callback($event, object()) : null"
		>
			@if (configuration.icon) {
				<mat-icon [ngClass]="{ 'icon-with-label': configuration.icon && configuration.label }">
					{{ materialIconRecords[configuration.icon] }}
				</mat-icon>
			}
			@if (configuration.label) {
				<span> {{ configuration.label | translate }} </span>
			}
		</button>
	}
</ng-template>

<ng-template #miniFabButton let-configuration="configuration">
	@if (shouldDisplayButton(configuration, object())) {
		<button
			mat-mini-fab
			[matTooltip]="configuration.tooltip?.message | translate"
			[matTooltipPosition]="configuration.tooltip?.position ? $any(configuration.tooltip?.position) : 'below'"
			[type]="configuration.type ? configuration.type : buttonType.BUTTON"
			[class.button-warn-color]="configuration.color === buttonColor.WARN"
			[disabled]="configuration.disabled | async"
			(click)="configuration.callback ? configuration.callback($event, object()) : null"
		>
			@if (configuration.icon) {
				<mat-icon [ngClass]="{ 'icon-with-label': configuration.icon && configuration.label }">
					{{ materialIconRecords[configuration.icon] }}
				</mat-icon>
			}
			@if (configuration.label) {
				<span> {{ configuration.label | translate }} </span>
			}
		</button>
	}
</ng-template>
