<suricate-pages-header [secondTitle]="'user.settings'"></suricate-pages-header>

<form *ngIf="userSettingForm" (ngSubmit)="saveUserSettings()" novalidate>
  <mat-card fxLayout="row wrap" fxLayoutAlign="center center" class="mat-elevation-z8">
    <mat-card-content fxFlex="80" fxLayout="column wrap">
      <suricate-input *ngFor="let field of formFields" [formGroup]="userSettingForm" [field]="field"></suricate-input>
    </mat-card-content>

    <mat-card-actions fxFlex="80">
      <button fxFill mat-raised-button type="submit" color="primary">
        <suricate-translate [key]="'save'"></suricate-translate>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
