<mat-sidenav-container fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start">

  <mat-sidenav #sidenav
               fxFlex="180px"
               fxLayout="column wrap"
               fxLayoutAlign="none none"
               mode="side"
               position="start"
               opened="true"
               class="mat-elevation-z15">
    <!-- User Section -->
    <div id="user-section" class="sidenav-section" *ngIf="connectedUser">
      <div class="avatar-container">
        <div class="avatar">
          {{getConnectedUserInitial()}}
        </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="nameContainer">
                <div> {{connectedUser.fullname}}</div>
                <div> ({{connectedUser.username}})</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="submenu">
            <div>
              <a mat-list-item routerLinkActive="active" [routerLink]="['/settings']">
                <mat-icon>settings</mat-icon>
                <app-translate [key]="'settings'"></app-translate>
              </a>
            </div>
            <div>
              <a mat-list-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <app-translate [key]="'logout'"></app-translate>
              </a>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="sidenav-section-container" fxLayout="column wrap" fxLayoutGap="8px">
      <mat-divider></mat-divider>
      <div id="button-section" class="sidenav-section" fxLayout="row wrap" fxLayoutAlign="start center">
        <a fxFlex="40" routerLinkActive="active" [routerLink]="['/home']" [matTooltip]=" 'home' | translate">
          <div fxFlex="100" class="common-icon-button" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-icon color="default">home</mat-icon>
          </div>
        </a>
        <a fxFlex="40" routerLinkActive="active" [routerLink]="['/tv']" [matTooltip]=" 'tv.view' | translate">
          <div fxFlex="100" class="common-icon-button" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-icon color="default">tv</mat-icon>
          </div>
        </a>
      </div>
      <mat-divider></mat-divider>

      <!-- Admin Section -->
      <div *ngIf="isUserAdmin" class="sidenav-section">
        <h1 class="little title">
          <app-translate [key]="'security'"></app-translate>
        </h1>

        <mat-nav-list>
          <a mat-list-item routerLinkActive="active" [routerLink]="['/security/users']">
            <app-translate [key]="'users'"></app-translate>
          </a>
          <a mat-list-item routerLinkActive="active" [routerLink]="['/security/config']">
            <app-translate [key]="'configurations'"></app-translate>
          </a>
        </mat-nav-list>
      </div>

      <!-- Widget section -->
      <div class="sidenav-section">
        <h1 class="little title">
          <app-translate [key]="'widgets'"></app-translate>
        </h1>
        <mat-nav-list>
          <a mat-list-item
             *ngIf="isUserAdmin"
             routerLinkActive="active"
             [routerLink]="['/repositories']">
            <app-translate [key]="'repositories'"></app-translate>
          </a>
          <a mat-list-item
             *ngIf="isUserAdmin"
             routerLinkActive="active"
             [routerLink]="['/widgets/configurations']">
            <app-translate [key]="'configurations'"></app-translate>
          </a>
          <a mat-list-item
             routerLinkActive="active"
             [routerLink]="['/widgets/catalog']">
            <app-translate [key]="'widgets.list'"></app-translate>
          </a>
        </mat-nav-list>
      </div>

      <!-- Dashboard Section -->
      <div class="sidenav-section">
        <h1 class="little title">
          <app-translate [key]="'dashboards'"></app-translate>
        </h1>
        <mat-nav-list>
          <a mat-list-item *ngIf="isUserAdmin" routerLinkActive="active" [routerLink]="['/dashboards', 'all']">
            <app-translate [key]="'dashboards.list'"></app-translate>
          </a>
          <a mat-list-item routerLinkActive="active" *ngFor="let dashboard of dashboards"
             [routerLink]="['/dashboards', dashboard.token]">{{dashboard.name}}</a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxFlex="auto">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
