<div class="container"
     fxLayout="column wrap"
     fxLayoutAlign="center center">

  <div class="content"
       fxFlex="100"
       fxLayout="column wrap"
       fxLayoutAlign="center center"
       fxLayoutGap="7%">

    <form *ngIf="loginForm"
          id="login-form"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
          fxFlex="70"
          novalidate>

      <mat-card id="card-login"
                fxFlexFill
                fxLayout="column wrap"
                fxLayoutAlign="center"
                class="mat-elevation-z12">

        <mat-card-content fxFlex="80"
                          fxLayout="row wrap"
                          fxLayoutAlign="center center">
          <!-- When form has been submitted -->
          <mat-spinner *ngIf="formSubmitAttempt"></mat-spinner>

          <!-- Before Submit the form -->
          <div id="login-div"
               fxFlex="90"
               fxLayout="column wrap"
               fxLayoutAlign="center"
               *ngIf="!formSubmitAttempt"
               class="form-content">

            <img src="../../../../../assets/images/logo.png"/>

            <app-input *ngFor="let field of formFields"
                       [formGroup]="loginForm"
                       [field]="field">
            </app-input>
          </div>
        </mat-card-content>

        <mat-card-actions fxFlex="13"
                          fxLayout="row wrap"
                          fxLayoutAlign="center"
                          fxLayoutGap="15px"
                          *ngIf="!formSubmitAttempt">
          <button fxFlex="85" mat-raised-button class="mat-elevation-z2" color="primary" type="submit">
            {{ 'sign.in' | translate | uppercase}}
          </button>
        </mat-card-actions>
      </mat-card>
    </form>

    <!-- If we are on DB auth provider -->
    <div *ngIf="!isLdapServerUserProvider"
         class="not-registered-sentance"
         fxFlex="5"
         fxFlexAlign="start"
         fxLayout="col wrap"
         fxLayoutGap="6px">
      <app-translate [key]="'not.registered'"></app-translate>
      <a [routerLink]="['/register']">
        <app-translate [key]="'sign.up'"></app-translate>
      </a>
    </div>

    <!-- If we are on LDAP auth provider -->
    <div *ngIf="isLdapServerUserProvider"
         class="not-registered-sentance"
         fxFlex="5"
         fxFlexAlign="start"
         fxLayout="col wrap"
         fxLayoutGap="6px">
      <app-translate [key]="'login.ldap.auth'"></app-translate>
    </div>

  </div>
</div>
