<app-pages-header [secondTitle]="user?.fullname"></app-pages-header>

<form *ngIf="editUserForm" [formGroup]="editUserForm" (ngSubmit)="saveUser()">
  <mat-card id="card-edit-user"
            class="mat-elevation-z8"
            fxLayout="row wrap"
            fxLayoutAlign="center center">

    <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="80">
      <!-- GENERAL INFORMATIONS -->
      <h4 class="title" fxFlexAlign="start" fxFlex="100"> {{ 'General informations' | uppercase }} </h4>

      <app-input *ngFor="let field of formSteps[0].fields"
                 fxFlex="100"
                 [formGroup]="editUserForm"
                 [field]="field">
      </app-input>

      <!-- ROLE MANAGEMENT -->
      <h4 class="title" fxFlexAlign="start" fxFlex="100"> {{ 'Role Managements' | uppercase }} </h4>

      <app-input *ngFor="let field of formSteps[1].fields"
                 fxFlex="100"
                 [formGroup]="editUserForm"
                 [field]="field">
      </app-input>
    </mat-card-content>

    <mat-card-actions fxFlex="80">
      <button mat-raised-button class="mat-elevation-z2" color="primary" type="submit">
        {{ 'save' | translate | uppercase}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
