<div class="dialog-wrapper">
  <h2 mat-dialog-title>{{ configuration.title | translate }}</h2>

  <mat-dialog-content class="spacer" fxLayout="column" fxLayoutAlign="center">
    <p>{{ configuration.message }}</p>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button color="primary" [mat-dialog-close]="false">
      {{ 'no' | translate }}
    </button>

    <button mat-button color="warn" (click)="accepted()">
      {{ 'yes' | translate }}
    </button>
  </mat-dialog-actions>
</div>
