<div class="file-upload-wrapper" fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="100">
  <!-- Button visible -->
  <div fxFlex="48" fxLayout="row wrap" class="upload-button-wrapper">
    <button
      mat-raised-button
      type="button"
      fxFlex="100"
      class="upload-button"
      color="primary"
      [ngClass]="{ 'file-input-button-error': isInputFieldOnError() }"
      (click)="file.click()"
    >
      <mat-icon> {{ materialIconRecords[iconEnum.UPLOAD] }} </mat-icon>
      <span> {{ field.label | translate }} </span>
    </button>

    <button
      *ngIf="belongingComponent"
      mat-raised-button
      type="button"
      fxFlex="100"
      class="take-screenshot-button"
      color="primary"
      [ngClass]="{ 'file-input-button-error': isInputFieldOnError() }"
      (click)="screenshot()"
    >
      <mat-icon> {{ materialIconRecords[iconEnum.UPLOAD] }} </mat-icon>
      <span> {{ 'dashboard.take.screenshot' | translate }} </span>
    </button>

    <!-- Error Message for file input -->
    <div *ngIf="isInputFieldOnError()" [@animationError] class="file-input-error" fxFlex="100">
      <div>
        {{ getInputErrors() | translate }}
      </div>
    </div>
  </div>

  <!-- Image uploaded -->
  <img *ngIf="imgBase64" [src]="imgBase64" class="uploaded-file" alt="Uploaded file" fxFlex="290px" />

  <div *ngIf="filename" fxFlex="49">
    {{ filename }}
  </div>

  <!-- Used to retrieve the file (hidden) -->
  <input #file type="file" (change)="onFileChange($event)" />
</div>
