/** Sidenav **/
mat-sidenav * {
    font-variant: all-small-caps;
    font-size: 0.8rem;
}

mat-sidenav mat-icon {
    font-variant: none;
}

mat-sidenav > .sidenav-section-container {
    margin-left: 20px;
}

/** Global Section **/
mat-sidenav .sidenav-section {
    width: 100%;
    margin: 0 auto;
}

/** User Section **/
mat-sidenav #user-section {
    padding: 15px 0 10px 0;
    margin: 0;
}

mat-sidenav #user-section > .avatar-container {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #303030;
}

mat-sidenav #user-section > .avatar-container > .avatar {
    height: 100%;
    font-size: 25px;
    line-height: 54px;
    text-align: center;
    background: #303030;
}

mat-sidenav #user-section .mat-expansion-panel {
    padding-top: 5px;
}

/** Nav list **/
mat-nav-list.submenu {
    display: block;
    padding: 10px 0 10px 0;
    border-top: 1px solid #2d2d2d;
    border-bottom: 1px solid #2d2d2d;
}

mat-nav-list.submenu .mat-list-item {
    height: 20px;
}

mat-nav-list.submenu .mat-list-item mat-icon {
    font-size: 17px;
    padding-top: 10px;
    margin-right: 10px;
}

mat-nav-list .mat-list-item {
    height: 23px;
    width: 90%;
}

mat-nav-list .mat-list-item.active {
    border-radius: 3px;
}

mat-sidenav-content {
    padding: 10px 10px 0 10px;
    min-height: 100vh;
}