<mat-sidenav-container fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start">

  <mat-sidenav #sidenav
               fxFlex="180px"
               fxLayout="column wrap"
               fxLayoutAlign="none none"
               mode="side"
               align="start"
               opened="true"
               class="mat-elevation-z15">
    <!-- User Section -->
    <div id="user-section" class="sidenav-section" *ngIf="connectedUser">
      <div class="avatar-container">
        <div class="avatar">
          {{getConnectedUserInitial()}}
        </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="nameContainer">
                <div> {{connectedUser.fullname}}</div>
                <div> ({{connectedUser.username}})</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="submenu">
            <div><a mat-list-item href="javascript:void(0)">
              <mat-icon>settings</mat-icon>
              <app-translate [key]="'settings'"></app-translate></a></div>
            <div><a mat-list-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <app-translate [key]="'logout'"></app-translate></a></div>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="sidenav-section-container" fxLayout="column wrap" fxLayoutGap="8px">
      <!-- Admin Section -->
      <div *ngIf="isUserAdmin" class="sidenav-section">
        <h1 class="little title"><app-translate [key]="'administration'"></app-translate></h1>

        <mat-nav-list>
          <a mat-list-item routerLinkActive="active" [routerLink]="['/users']"> <app-translate [key]="'users'"></app-translate> </a>
          <a mat-list-item routerLinkActive="active" [routerLink]="['/configurations']"><app-translate [key]="'configurations'"></app-translate></a>
          <a mat-list-item routerLinkActive="active" [routerLink]="['/widgets']"><app-translate [key]="'widgets'"></app-translate></a>
          <a mat-list-item routerLinkActive="active" [routerLink]="['/dashboards']"><app-translate [key]="'dashboards'"></app-translate></a>
        </mat-nav-list>
      </div>

      <!-- Dashboard Section -->
      <div class="sidenav-section">
        <h1 class="little title"><app-translate [key]="'dashboards'"></app-translate></h1>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active" *ngFor="let dashboard of dashboards"
             [routerLink]="['/dashboard', dashboard.id]">{{dashboard.name}}</a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxFlex="auto">
    <app-toast-messages></app-toast-messages>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
