mat-sidenav-container {
    min-height: 100vh;
}

/** Sidenav **/
mat-sidenav * {
    color: #cfd2da;
    font-variant: all-small-caps;
}
mat-sidenav mat-icon {
    font-variant: none;
}

mat-sidenav > .sidenav-section-container {
    margin-left: 20px;
}

/** Global Section **/
mat-sidenav .sidenav-section {
    width: 100%;
    margin: 0 auto;
}

/** User Section **/
mat-sidenav #user-section {
  padding: 15px 0 30px 0;
  margin: 0;
}
mat-sidenav #user-section > .avatar-container {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #303030;
}

mat-sidenav #user-section > .avatar-container > .avatar {
  height: 100%;
  font-size: 34px;
  line-height: 63px;
  text-align: center;
  background: #303030;
}

/** Nav list **/
mat-nav-list.submenu {
  background-color: #5a5a5a;
  margin-top: 8px;
  display: block;
  padding: 10px 0 10px 0;
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #2d2d2d;
}
mat-nav-list.submenu .mat-list-item {
  height: 20px;
}
mat-nav-list.submenu .mat-list-item mat-icon {
  font-size: 17px;
  padding-top: 10px;
  margin-right: 10px;
}

mat-nav-list .mat-list-item {
  height: 30px;
  width: 90%;
}
mat-nav-list .mat-list-item:hover {
  background-color: transparent;
  color: #f7f9ff;
  font-size: 1.2em;
}
mat-nav-list .mat-list-item.active {
  background-color: #1997c6;
  border-radius: 3px;
}

mat-sidenav-content {
  padding: 10px 10px 0 10px;
  min-height: 100vh;
  overflow: -webkit-paged-x;
}