<div fxLayout="column wrap" class="input-wrapper">
  <!------------------------------------------------------------------------------------------------------->
  <!---                        MAT FORM FIELDS/ERROR                                                    --->
  <!------------------------------------------------------------------------------------------------------->

  <mat-form-field
    *ngIf="[dataType.NUMBER, dataType.TEXT, dataType.PASSWORD, dataType.COMBO, dataType.MULTIPLE].includes(field.type)"
    [floatLabel]="field.placeholder ? 'always' : 'auto'"
  >
    <!-- Mat Icon prefix -->
    <mat-icon *ngIf="field.matIconPrefix" class="prefix" matPrefix color="primary">
      {{ field.matIconPrefix }}
    </mat-icon>

    <!-- Mat label -->
    <mat-label>
      <suricate-translate [key]="field.label"></suricate-translate>
    </mat-label>

    <!-- SIMPLE INPUT -->
    <input
      *ngIf="[dataType.NUMBER, dataType.TEXT, dataType.PASSWORD].includes(field.type)"
      matInput
      [id]="field.key"
      [placeholder]="field.placeholder"
      [type]="field.type.toString().toLowerCase()"
      [formControl]="getFormControl()"
      [required]="isRequired()"
      [readonly]="field.readOnly"
      [matAutocomplete]="autocomplete"
      (keyup)="emitValueChange($event)"
    />

    <!-- Autocomplete -->
    <mat-autocomplete #autocomplete="matAutocomplete">
      <mat-option *ngFor="let option of field.options" [value]="option.key">
        {{ option.label }}
      </mat-option>
    </mat-autocomplete>

    <!-- SELECT INPUT -->
    <mat-select
      *ngIf="[dataType.COMBO, dataType.MULTIPLE].includes(field.type)"
      [id]="field.key"
      [formControl]="getFormControl()"
      [multiple]="field.type === dataType.MULTIPLE"
      [required]="isRequired()"
      (selectionChange)="emitValueChange($event.value)"
    >
      <mat-option *ngFor="let option of field.options" [value]="option.key">
        {{ option.label }}
      </mat-option>
    </mat-select>

    <!-- Mat Icon suffix -->
    <mat-icon *ngIf="field.matIconSuffix" matSuffix color="primary">
      {{ field.matIconSuffix }}
    </mat-icon>

    <!-- Display an hint the user -->
    <mat-hint align="start" *ngIf="(field.hint || field.readOnly) && !isInputFieldOnError()">
      <suricate-translate *ngIf="field.readOnly" [key]="'field.readonly'"></suricate-translate>
      <span *ngIf="field.hint"> {{ field.hint }}</span>
    </mat-hint>
  </mat-form-field>

  <!------------------------------------------------------------------------------------------------------->
  <!---                        OTHER FIELDS                                                             --->
  <!------------------------------------------------------------------------------------------------------->

  <suricate-checkbox *ngIf="dataType.BOOLEAN === field.type" [field]="field" [formGroup]="formGroup"></suricate-checkbox>

  <suricate-file-input *ngIf="dataType.FILE === field.type" [field]="field" [formGroup]="formGroup"></suricate-file-input>

  <!------------------------------------------------------------------------------------------------------->
  <!---                        FIELDS ERROR MANAGEMENT                                                  --->
  <!------------------------------------------------------------------------------------------------------->

  <div *ngIf="dataType.FILE !== field.type && isInputFieldOnError()" [@animationError] class="input-error">
    <!-- Error message : Required -->
    <div *ngIf="getFormControl()['errors']?.required">
      <suricate-translate [key]="'field.required'"></suricate-translate>
    </div>
    <!-- Error message : Length -->
    <div *ngIf="getFormControl()['errors']?.minlength">
      <suricate-translate [key]="'field.length'"></suricate-translate>
    </div>
    <!-- Error message : Email -->
    <div *ngIf="getFormControl()['errors']?.email">
      <suricate-translate [key]="'field.email.invalid.format'"></suricate-translate>
    </div>
    <!-- Error message : Password confirmation -->
    <div *ngIf="getFormControl()['errors']?.passwordMismatch">
      <suricate-translate [key]="'field.password.mismatch'"></suricate-translate>
    </div>
    <!-- Error message : Pattern -->
    <div *ngIf="getFormControl()['errors']?.pattern">
      <suricate-translate [key]="'field.pattern'"></suricate-translate>
    </div>
    <!-- Error message : Digits -->
    <div *ngIf="getFormControl()['errors']?.digits">
      <suricate-translate [key]="'field.digits'"></suricate-translate>
    </div>
    <!-- Error message : Digits -->
    <div *ngIf="getFormControl()['errors']?.gt">
      <suricate-translate [key]="'field.gt'"></suricate-translate>
    </div>
  </div>
</div>
