.container {
    height: 95vh;
}

.content {
    width: 40%;
}

#register-form {
    width: 100%;
}

#card-register {
    width: 100%;
}

.registered-sentance {
    margin-left: 9%;
}

.mat-icon.prefix {
    margin-right: 10px;
}