<div [@slideInOut]="animationState">
  <div class="wrapper" *ngIf="message">
    <aside>
      <div class="notification mat-elevation-z12" [ngClass]="message.style">
        <button class="delete" (click)="hideToast()"></button>
        <div class="notification-body">
          <div class="icon-wrapper" [ngSwitch]="message.style">
            <mat-icon class="material-icons" *ngSwitchCase="toastType.INFO">
              {{ materialIconRecords[iconEnum.INFO] }}
            </mat-icon>
            <mat-icon class="material-icons" *ngSwitchCase="toastType.WARNING">
              {{ materialIconRecords[iconEnum.WARNING] }}
            </mat-icon>
            <mat-icon class="material-icons" *ngSwitchCase="toastType.DANGER">
              {{ materialIconRecords[iconEnum.ERROR] }}
            </mat-icon>
            <mat-icon class="material-icons" *ngSwitchCase="toastType.SUCCESS">
              {{ materialIconRecords[iconEnum.SUCCESS] }}
            </mat-icon>
          </div>
          <div class="notification-content">
            <div class="notification-title">
              {{ message.title | translate }}
            </div>
            <div class="notification-body">
              {{ message.content | translate }}
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
