<div [@slideInOut]="animationState">
  <div class="wrapper" *ngIf="message">
    <aside>
      <div class="notification mat-elevation-z12" [ngClass]="message?.style">
        <button class="delete" (click)="hideToast()"></button>
        <div class="notification-body" fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="30" class="icon-wrapper" fxLayoutAlign="center center" [ngSwitch]="message?.style">
            <mat-icon class="material-icons" *ngSwitchCase="toastType.INFO">
              format_italic
            </mat-icon>
            <mat-icon class="material-icons" *ngSwitchCase="toastType.WARNING">
              warning
            </mat-icon>
            <mat-icon class="material-icons" *ngSwitchCase="toastType.DANGER">
              error
            </mat-icon>
            <mat-icon class="material-icons" *ngSwitchCase="toastType.SUCCESS">
              done
            </mat-icon>
          </div>
          <div class="notification-content" fxFlex="70">
            <div class="notification-title">
              {{ message?.title }}
            </div>
            <div class="notification-body">
              {{ message.content }}
            </div>
          </div>
        </div>
      </div>
    </aside>
  </div>
</div>
