<div [@slideInOut]="animationState">
	@if (message) {
		<div class="wrapper">
			<aside>
				<div class="notification mat-elevation-z12" [ngClass]="message.style">
					<div class="notification-body">
						<div class="icon-wrapper">
							@switch (message.style) {
								@case (toastType.INFO) {
									<mat-icon class="material-icons">
										{{ materialIconRecords[iconEnum.INFO] }}
									</mat-icon>
								}
								@case (toastType.WARNING) {
									<mat-icon class="material-icons">
										{{ materialIconRecords[iconEnum.WARNING] }}
									</mat-icon>
								}
								@case (toastType.DANGER) {
									<mat-icon class="material-icons">
										{{ materialIconRecords[iconEnum.ERROR] }}
									</mat-icon>
								}
								@case (toastType.SUCCESS) {
									<mat-icon class="material-icons">
										{{ materialIconRecords[iconEnum.SUCCESS] }}
									</mat-icon>
								}
							}
						</div>
						<div class="notification-content">
							<div class="notification-title">
								{{ message.title | translate }}
							</div>
							<div class="notification-body">
								{{ message.content | translate }}
							</div>
						</div>
						<button mat-icon-button (click)="hideToast()">
							<mat-icon>close</mat-icon>
						</button>
					</div>
				</div>
			</aside>
		</div>
	}
</div>
