<div class="button-wrapper">
  <!-- Used for display file selection window -->
  <button mat-raised-button
          class="file_upload_button mat-elevation-z8"
          type="button"
          (click)="file.click()">
    <mat-icon>attach_file</mat-icon>
    <span [class]="'file-selection-sentence-' + param.name"><app-translate
        [key]="'upload'"></app-translate></span>
  </button>
  <!-- Used for retrieve the file -->
  <input #file
         style="display:none;"
         type="file"
         [pattern]="param.acceptFileRegex"
         (change)="getUploadedFileBase64($event, formSettings, param.name, param.acceptFileRegex)">
  <!-- Used for send base64 file with the form -->
  <input type="text" style="display:none;" [name]="param.name" [required]="param.required" ngModel>
</div>
