<div class="file-upload-wrapper" fxLayout="row wrap" fxLayoutAlign="space-around center" fxFlex="100" cdk-focus-start>
  <!-- Image uploaded -->
  <img *ngIf="imgBase64" [src]="imgBase64" alt="file_uploaded" fxFlex="49" />

  <div *ngIf="filename" fxFlex="49">
    {{ filename }}
  </div>

  <!-- Button visible -->
  <div fxFlex="48" fxLayout="row wrap" class="upload-button-wrapper">
    <button
      mat-raised-button
      type="button"
      fxFlex="100"
      class="upload-button"
      [ngClass]="{ 'button-error': isInputFieldOnError() }"
      (click)="file.click()"
    >
      <mat-icon>cloud_upload</mat-icon>
      <app-translate class="sentence" [key]="'upload'"></app-translate>
    </button>

    <!-- Error Message for file input -->
    <div *ngIf="isInputFieldOnError()" [@animationError] class="input-error" fxFlex="100">
      <!-- Error message : Required -->
      <div *ngIf="getFormControl()['errors']?.required">
        <app-translate [key]="'field.required'"></app-translate>
      </div>
      <!-- Error message : Pattern -->
      <div *ngIf="getFormControl()['errors']?.pattern">
        <app-translate [key]="'field.pattern'"></app-translate>
      </div>
    </div>
  </div>

  <!-- Used to retrieve the file (hidden) -->
  <input #file type="file" (change)="convertFileBase64($event)" />
</div>
