<app-pages-header [secondTitle]="(project | async)?.name"></app-pages-header>

<div [ngGrid]="{'max_cols': (project | async)?.maxColumn, 'row_height': (project | async)?.widgetHeight/1.5, 'margins': [5], 'auto_resize': true}">
  <div class="commonCssAndJs">
    <div [innerHTML]="getWidgetCommonCSS()"></div>
  </div>
  <div *ngFor="let widget of (project | async)?.widgets"
       [ngClass]="'widget ' + widget.id + ' widget-' + widget.projectWidgetId"
       [ngGridItem]="{'col': widget.col+1, 'row': widget.row, 'sizey': widget.height, 'sizex': widget.width}"
       [innerHTML]="getHtmlFormWidget(widget)">

  </div>
</div>
