<app-pages-header [secondTitle]="(project$ | async)?.name"></app-pages-header>

<div *ngIf="gridOptions" [ngGrid]="gridOptions">
  <div class="commonCssAndJs">
    <div [innerHTML]="getGridCSS((project$ | async)?.cssStyle)"></div>
    <div [innerHTML]="getWidgetCommonCSS()"></div>
  </div>
  <div *ngFor="let projectWidget of (project$ | async)?.projectWidgets"
       [ngClass]="'widget ' + projectWidget.widget.technicalName + ' widget-' + projectWidget.id"
       [ngGridItem]="{'col': projectWidget.widgetPosition.col+1,
                      'row': projectWidget.widgetPosition.row,
                      'sizey': projectWidget.widgetPosition.height,
                      'sizex': projectWidget.widgetPosition.width}"
       [innerHTML]="getHtmlAndCss(projectWidget)">

  </div>
</div>
