/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;

$_dark-palettes: (
  primary: (
    0: #000000,
    10: #3a0a00,
    20: #5e1700,
    25: #711d00,
    30: #852400,
    35: #992a00,
    40: #ae3100,
    50: #d6430b,
    60: #fa5c27,
    70: #ff8b67,
    80: #ffb59f,
    90: #ffdbd0,
    95: #ffede8,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #3a0a00,
    20: #5d1802,
    25: #6c230a,
    30: #7b2e15,
    35: #8b391f,
    40: #9a452a,
    50: #b95c3f,
    60: #d97556,
    70: #f98e6e,
    80: #ffb59f,
    90: #ffdbd0,
    95: #ffede8,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #241a00,
    20: #3d2f00,
    25: #4a3900,
    30: #584400,
    35: #665000,
    40: #745b00,
    50: #927300,
    60: #af8d1c,
    70: #cca737,
    80: #eac250,
    90: #ffe08d,
    95: #ffefce,
    98: #fff8f1,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #271814,
    20: #3d2c28,
    25: #493732,
    30: #55423d,
    35: #624e48,
    40: #6e5a54,
    50: #88726c,
    60: #a38c85,
    70: #bfa69f,
    80: #dbc1b9,
    90: #f9ddd5,
    95: #ffede8,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
    4: #180b07,
    6: #1e100c,
    12: #2b1c17,
    17: #362621,
    22: #42312c,
    24: #473530,
    87: #f0d4cc,
    92: #fee2da,
    94: #ffe9e3,
    96: #fff1ed,
  ),
  neutral-variant: (
    0: #000000,
    10: #2a1610,
    20: #422b24,
    25: #4e362e,
    30: #5a4139,
    35: #674c44,
    40: #745850,
    50: #8f7067,
    60: #aa8980,
    70: #c6a49a,
    80: #e3beb4,
    90: #ffdbd0,
    95: #ffede8,
    98: #fff8f6,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_dark-rest: (
  secondary: map.get($_dark-palettes, secondary),
  neutral: map.get($_dark-palettes, neutral),
  neutral-variant: map.get($_dark-palettes,  neutral-variant),
  error: map.get($_dark-palettes, error),
);
$_dark-primary: map.merge(map.get($_dark-palettes, primary), $_dark-rest);
$_dark-tertiary: map.merge(map.get($_dark-palettes, tertiary), $_dark-rest);

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_dark-primary,
    tertiary: $_dark-tertiary,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  )
));
