/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use 'sass:map';
@use '@angular/material' as mat;

$_palettes: (
  primary: (
    0: #000000,
    10: #0b1940,
    20: #222e56,
    25: #2e3962,
    30: #39456e,
    35: #45517a,
    40: #515d87,
    50: #6a75a1,
    60: #838fbc,
    70: #9ea9d8,
    80: #b9c5f5,
    90: #dce1ff,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #171b2b,
    20: #2c3041,
    25: #373b4c,
    30: #424658,
    35: #4e5264,
    40: #5a5d70,
    50: #72768a,
    60: #8c90a4,
    70: #a7aabf,
    80: #c2c5db,
    90: #dee1f8,
    95: #eff0ff,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #271138,
    20: #3e274f,
    25: #49325b,
    30: #553d67,
    35: #614873,
    40: #6e5480,
    50: #886d9a,
    60: #a286b5,
    70: #bea0d1,
    80: #dabbed,
    90: #f2daff,
    95: #fbecff,
    98: #fff7fd,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    4: #0b0b0c,
    6: #101013,
    10: #1b1b1f,
    12: #1f1f23,
    17: #2a2a2e,
    20: #303034,
    22: #343438,
    24: #39393d,
    25: #3b3b3f,
    30: #47464a,
    35: #525256,
    40: #5e5e62,
    50: #77767a,
    60: #919094,
    70: #acaaaf,
    80: #c8c6ca,
    87: #dcd9de,
    90: #e4e1e6,
    92: #eae7ec,
    94: #efedf1,
    95: #f2f0f4,
    96: #f5f3f7,
    98: #fbf8fd,
    99: #fefbff,
    100: #ffffff,
  ),
  neutral-variant: (
    0: #000000,
    10: #1a1b22,
    20: #2f3038,
    25: #3a3b43,
    30: #45464e,
    35: #51525a,
    40: #5d5e66,
    50: #76767f,
    60: #909099,
    70: #aaaab4,
    80: #c6c6cf,
    90: #e2e1ec,
    95: #f0f0fa,
    98: #faf8ff,
    99: #fefbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes,  neutral-variant),
  error: map.get($_palettes, error),
);
$_primary: map.merge(map.get($_palettes, primary), $_rest);
$_tertiary: map.merge(map.get($_palettes, tertiary), $_rest);

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: $_primary,
    tertiary: $_tertiary,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  ),
));
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: $_primary,
    tertiary: $_tertiary,
    use-system-variables: true,
  ),
  typography: (
    use-system-variables: true,
  ),
));