{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "printWidth": 140,
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
