<h1 mat-dialog-title class="little title">
  {{ project ? ('dashboard.edit' | translate) : ('dashboard.add' | translate) }}
</h1>

<mat-dialog-content>
  <div class="widget-dialog">
    <mat-horizontal-stepper *ngIf="projectForm" #addDashboardStepper [linear]="true">
      <!-- Step 1 : Dashboard settings -->
      <mat-step [completed]="formSteps[0].stepCompleted">
        <form [formGroup]="projectForm" fxLayout="row wrap">
          <ng-template matStepLabel fxFlex="100">
            <suricate-translate [key]="'dashboard.settings'"></suricate-translate>
          </ng-template>

          <suricate-input *ngFor="let field of formSteps[0].fields" fxFlex="100" [formGroup]="projectForm" [field]="field"></suricate-input>

          <mat-form-field fxFlex="100">
            <input
              matInput
              placeholder="{{ 'grid.background.color' | translate }}"
              value=" "
              [style.background]="dashboardBackgroundColor"
              [(colorPicker)]="dashboardBackgroundColor"
              [cpPosition]="'top'"
              [cpOutputFormat]="'hex'"
              [cpAlphaChannel]="'always'"
              [cpPresetColors]="[dashboardBackgroundColor]"
            />
          </mat-form-field>
        </form>
      </mat-step>

      <!-- Step 2 : Add users -->
      <mat-step>
        <ng-template matStepLabel>
          <suricate-translate [key]="'users.add'"></suricate-translate>
        </ng-template>

        <div fxLayout="column wrap" fxFlexAlign="start center" fxLayoutGap="50px">
          <form
            id="user-form"
            fxFlexFill
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            fxLayoutGap="10px"
            [formGroup]="userForm"
            (submit)="addUser()"
          >
            <suricate-input
              *ngFor="let field of formSteps[1].fields"
              fxFlex="80"
              [formGroup]="userForm"
              [field]="field"
              (valueChangeEvent)="catchValueChange($event)"
            >
            </suricate-input>

            <button fxFlex="15" fxFlexAlign="center" mat-raised-button id="add-user-button" color="primary" type="submit" name="add-user">
              <suricate-translate [key]="'user.add'"></suricate-translate>
            </button>
          </form>

          <div class="user-list">
            <h1 class="little">
              <suricate-translate [key]="'users.dashboard'"></suricate-translate>
            </h1>
            <mat-list role="list" *ngIf="projectUsers">
              <mat-list-item *ngFor="let user of projectUsers">
                <mat-icon style="display: block">account_box</mat-icon>
                <div>{{ user.firstname }} {{ user.lastname }} ({{ user.username | uppercase }})</div>
                <button mat-icon-button matTooltip="Delete user" color="primary" (click)="deleteUser(user.id)">
                  <mat-icon>delete_forever</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row wrap" fxFlexAlign="space-between center">
  <button mat-button mat-dialog-close color="warn">
    <suricate-translate [key]="'close'"></suricate-translate>
  </button>

  <button mat-button color="primary" *ngIf="addDashboardStepper?.selectedIndex != formSteps.length - 1" (click)="saveDashboard()">
    <suricate-translate [key]="'save.and.assign'"></suricate-translate>
  </button>
</mat-dialog-actions>
