.mat-card {
    margin-bottom: 20px;
}

.mat-card .mat-card-content .mat-icon {
    font-size: 5rem;
    width: auto;
    height: auto;
}

.mat-card a {
    display: block;
    color: inherit;
    cursor: pointer;
}

#add-dashboard-card .mat-icon {
    color: #1997c6;
}