/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@use '@angular/material' as mat;

@mixin custom-mat-sidenav-theme($theme) {
  // Angular Material colors
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  // Custom colors
  $sidenav-background-primary: #424242;
  $sidenav-background-secondary: #5a5a5a;

  .mat-sidenav.menu-sidenav {


    .sidenav-section {
      margin-bottom: 0 !important;

      &#user-section {
        margin: 0;
        width: 100%;

        & > .avatar-container {
          margin: 0 auto;
          width: 70px;
          height: 70px;
          overflow: hidden;
          border-radius: 50%;
          border: 1px solid #303030;

          & > .avatar {
            height: 100%;
            font-size: 25px;
            line-height: 64px;
            text-align: center;
            background: #303030;
          }
        }
      }

      .common-icon-button {
        height: 48px;

        mat-icon {
          font-size: 24px;
        }
      }
    }
  }

  .mat-sidenav-content {
    padding: 0 10px 0 10px;
    min-height: 100vh;
  }
}
