<app-pages-header [secondTitle]="'configurations.list'" [showMenu]="false"></app-pages-header>

<div class="table-container mat-elevation-z2">
  <div class="table-loading-shade" *ngIf="isLoadingResults || errorCatched">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    <div class="table-error" *ngIf="errorCatched">
      <app-translate [key]="'error'"></app-translate>
    </div>
  </div>

  <mat-table #table [dataSource]="matTableDataSource" class="table-show" matSort>
    <!-- Username Column -->
    <ng-container matColumnDef="key">
      <mat-header-cell fxFlex="33%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'key'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="33%" *matCellDef="let row">{{ row.key }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell fxFlex="28%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'value'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="28%" *matCellDef="let row">{{ row | password }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell fxFlex="12%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'type'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="12%" *matCellDef="let row">{{ row.dataType }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="category">
      <mat-header-cell fxFlex="11%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'configuration.category'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="11%" *matCellDef="let row">{{ row.category?.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell fxFlex="8%" *matHeaderCellDef>
        <app-translate [key]="'edit'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="8%" *matCellDef="let row">
        <a [routerLink]="[row.key, 'edit']">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell fxFlex="8%" *matHeaderCellDef>
        <app-translate [key]="'delete'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="8%" *matCellDef="let row">
        <a (click)="openDialogDeleteConfiguration(row)">
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="30"> </mat-paginator>
</div>
