<h1 matDialogTitle class="little title">
  {{ 'screen.management' | translate }}
</h1>

<mat-dialog-content fxLayout="column" fxLayoutGap="20px">
  <!-- Register screen part -->
  <form *ngIf="registerScreenCodeFormField" fxLayout="column">
    <h2 class="little title">{{ 'screen.enroll' | translate }}</h2>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutGap="25px" class="input-wrapper">
      <suricate-input
        *ngFor="let field of formFields"
        fxFlex="100%"
        [formGroup]="registerScreenCodeFormField"
        [field]="field"
      ></suricate-input>
      <suricate-buttons fxFlex [configurations]="shareButtonsConfiguration"></suricate-buttons>
    </div>
  </form>

  <!-- Registered screen part -->
  <div fxLayout="column">
    <div>
      <h2 class="little title">{{ 'screen.linked' | translate }} - {{ websocketClients?.length }} {{ 'client' | translate }}</h2>
      <mat-divider></mat-divider>
    </div>

    <!-- screen codes -->
    <div id="connected-screen-container" fxLayout="column" fxLayoutGap="20px">
      <div *ngFor="let websocketClient of websocketClients" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="screen-icon" fxFlex="16%">
          {{ materialIconRecords[iconEnum.TV] }}
        </mat-icon>
        <span class="screen-code" fxFlex> {{ 'screen.code' | translate }}: {{ websocketClient.screenCode }} </span>
        <suricate-buttons [configurations]="connectedScreenButtonsConfiguration" [object]="websocketClient"></suricate-buttons>
      </div>
    </div>
  </div>

  <!-- Show screen code -->
  <div id="display-code-link">
    <a fxLayout="col wrap" fxLayoutAlign="start center" (click)="displayScreenCode()">
      <mat-icon> {{ materialIconRecords[iconEnum.ARROW_DOWN] }} </mat-icon>
      <span> {{ 'screen.display.code' | translate }} </span>
    </a>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <suricate-buttons [configurations]="genericButtonsConfiguration" [mat-dialog-close]="false"></suricate-buttons>
</mat-dialog-actions>
