/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

h1 {
  text-align: center;
  font-size: 30px !important;
  padding: 0;
}

.mat-mdc-dialog-content {
  padding: 0 24px;

  h2 {
    padding: 10px 0;
  }

  .input-wrapper {
    display: flex;
    gap: 20px;

    .screen-code-input {
      flex-grow: 1;
    }

    .enroll-screen-button {
      width: auto;
      padding-top: 8px;
    }
  }

  #connected-screen-container {
    padding: 16px 0;

    .screen-icon {
      flex: 0 1 12%;
      font-size: 40px;
      width: 40px;
      height: 40px;
    }

    .screen-code {
      flex-grow: 1;
      font-size: 1.5em;
      font-variant: all-small-caps;
    }

    .connected-screens {
      display: flex;
      align-items: center;
      padding: 10px 0;
    }
  }

  #display-code-link {
    margin-top: 10px;

    a {
      text-decoration: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

.mat-mdc-dialog-actions {
  padding: 24px;
}