<h1 matDialogTitle class="little title">
  {{ 'screen.management' | translate }}
</h1>

<mat-dialog-content>
  <!-- Register screen part -->
  <form *ngIf="registerScreenCodeFormField">
    <h2 class="little title">{{ 'screen.enroll' | translate }}</h2>

    <div class="input-wrapper">
      <suricate-input
        class="screen-code-input"
        *ngFor="let field of formFields"
        [formGroup]="registerScreenCodeFormField"
        [field]="field"
      ></suricate-input>
      <suricate-buttons class="enroll-screen-button" [configurations]="shareButtonsConfiguration"></suricate-buttons>
    </div>
  </form>

  <!-- Registered screen part -->
  <div>
    <div>
      <h2 class="little title">{{ 'screen.linked' | translate }} - {{ websocketClients?.length }} {{ 'client' | translate }}</h2>
      <mat-divider></mat-divider>
    </div>

    <!-- screen codes -->
    <div id="connected-screen-container">
      <div class="connected-screens" *ngFor="let websocketClient of websocketClients">
        <mat-icon class="screen-icon">
          {{ materialIconRecords[iconEnum.TV] }}
        </mat-icon>
        <span class="screen-code"> {{ 'screen.code' | translate }}: {{ websocketClient.screenCode }} </span>
        <suricate-buttons [configurations]="connectedScreenButtonsConfiguration" [object]="websocketClient"></suricate-buttons>
      </div>
    </div>
  </div>

  <!-- Show screen code -->
  <div id="display-code-link">
    <a (click)="displayScreenCode()">
      <mat-icon> {{ materialIconRecords[iconEnum.ARROW_DOWN] }} </mat-icon>
      <span> {{ 'screen.display.code' | translate }} </span>
    </a>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <suricate-buttons [configurations]="genericButtonsConfiguration" [mat-dialog-close]="false"></suricate-buttons>
</mat-dialog-actions>
