@if (configuration) {
  <div class="header-container">
    <div class="header-sub-container">
      <div class="header-info">
        <h1 class="little title">{{ pageName }}</h1>
        <h2 class="header">
          {{ configuration.title | translate }}
        </h2>
      </div>
      @if (showMenu) {
        <div>
          @if (configuration.actions) {
            <suricate-buttons class="actions" [configurations]="configuration.actions"> </suricate-buttons>
          }
        </div>
      }
    </div>
    <mat-divider></mat-divider>
  </div>
}
