<div *ngIf="configuration" class="header-container">
  <div class="titles">
    <h1 class="little title">{{ pageName }}</h1>
    <h2 class="header">
      <suricate-translate [key]="configuration.title"></suricate-translate>
    </h2>
  </div>

  <div class="actions" *ngIf="showMenu">
    <!-- Dashboard actions -->
    <div *ngIf="pageName === 'dashboards'">
      <suricate-dashboard-actions></suricate-dashboard-actions>
    </div>
    <div *ngIf="pageName === 'widgets'">
      <suricate-widget-list-actions></suricate-widget-list-actions>
    </div>

    <suricate-buttons *ngIf="configuration.actions" [configurations]="configuration.actions"> </suricate-buttons>
  </div>

  <mat-divider></mat-divider>
</div>
