<app-pages-header [secondTitle]="repository ? repository.name : 'repository.new'"></app-pages-header>

<form *ngIf="repositoryForm" [formGroup]="repositoryForm" (ngSubmit)="saveRepository()">
  <mat-card id="card-edit"
            class="mat-elevation-z8"
            fxLayout="row wrap"
            fxLayoutAlign="center center">

    <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="80">

      <!-- GENERAL INFORMATIONS -->
      <h4 class="title" fxFlexAlign="start" fxFlex="100"> {{ 'general.informations' | translate | uppercase }} </h4>

      <app-input *ngFor="let field of formSteps[0].fields"
                 fxFlex="100"
                 [formGroup]="repositoryForm"
                 [isReadOnly]="false"
                 [field]="field">
      </app-input>

      <!-- Repository intformations -->
      <h4 class="title" fxFlexAlign="start" fxFlex="100"> {{ 'repository.info' | translate | uppercase }} </h4>

      <app-input *ngFor="let field of formSteps[1].fields"
                 fxFlex="100"
                 [formGroup]="repositoryForm"
                 [isReadOnly]="false"
                 [field]="field"
                 (valueChangeEvent)="manageInputChangeEvent($event)">
      </app-input>

      <app-input *ngFor="let field of formSteps[2]?.fields"
                 fxFlex="100"
                 [formGroup]="repositoryForm"
                 [isReadOnly]="false"
                 [field]="field"
                 (valueChangeEvent)="manageInputChangeEvent($event)">
      </app-input>
    </mat-card-content>


    <mat-card-actions fxFlex="80">
      <!-- Submit action-->
      <button mat-raised-button class="mat-elevation-z6" color="primary" type="submit">
        {{ 'save' | translate | uppercase}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
