<app-pages-header [secondTitle]="user?.fullname"></app-pages-header>

<form *ngIf="editUserForm" [formGroup]="editUserForm" (ngSubmit)="saveUser()">
  <mat-card id="card-edit-user"
            class="mat-elevation-z8"
            fxLayout="column wrap"
            fxLayoutAlign="center center"
            fxLayoutGap="30px">

    <mat-card-content fxLayout="column wrap"
                      fxLayoutAlign="center center">

      <!-- GENERAL INFORMATIONS -->
      <h4 class="title" fxFlexAlign="start"> {{ 'General informations' | uppercase }} </h4>

      <!-- Username Input -->
      <mat-form-field>
        <mat-icon class="prefix" matPrefix>android</mat-icon>
        <input matInput
               type="text"
               id="username"
               placeholder="Username"
               formControlName="username"
               [required]="editUserForm.get('username').errors && editUserForm.get('username').errors.required"/>
        <mat-error *ngIf="isFieldInvalid('username')">
          Username is mandatory with a min length of 3
        </mat-error>
      </mat-form-field>


      <!-- Firstname Input -->
      <mat-form-field>
        <mat-icon class="prefix" matPrefix>person</mat-icon>
        <input matInput
               type="text"
               id="firstname"
               placeholder="Firstname"
               formControlName="firstname"
               [required]="editUserForm.get('firstname').errors && editUserForm.get('firstname').errors.required"/>
        <mat-error *ngIf="isFieldInvalid('firstname')">
          Firstname is mandatory with a min length of 2
        </mat-error>
      </mat-form-field>

      <!-- Lastname Input -->
      <mat-form-field>
        <mat-icon class="prefix" matPrefix>person</mat-icon>
        <input matInput
               type="text"
               id="lastname"
               [value]="user?.lastname"
               placeholder="Lastname" formControlName="lastname"
               [required]="editUserForm.get('lastname').errors && editUserForm.get('lastname').errors.required"/>
        <mat-error *ngIf="isFieldInvalid('lastname')">
          Lastname is mandatory with a min length of 2
        </mat-error>
      </mat-form-field>

      <!-- Email Input -->
      <mat-form-field>
        <mat-icon class="prefix" matPrefix>email</mat-icon>
        <input matInput
               type="text"
               id="email"
               placeholder="Email"
               formControlName="email"
               [required]="editUserForm.get('email').errors && editUserForm.get('email').errors.required"/>
        <mat-error *ngIf="isFieldInvalid('email') && editUserForm.get('email').errors?.required">
          Email is mandatory
        </mat-error>
        <mat-error *ngIf="isFieldInvalid('email') && editUserForm.get('email').errors?.email">
          Is this really an email ?
        </mat-error>
      </mat-form-field>


      <!-- ROLE MANAGEMENT -->
      <h4 class="title" fxFlexAlign="start"> {{ 'Role Managements' | uppercase }} </h4>

      <mat-form-field *ngIf="roles">
        <mat-select id="roles"
                    placeholder="User role"
                    formControlName="roles"
                    [required]="editUserForm.get('roles').errors && editUserForm.get('roles').errors.required"
                    multiple>
          <mat-option *ngFor="let role of roles"
                      [value]="role.name">
            {{ role.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="isFieldInvalid('roles')">
          User role is mandatory
        </mat-error>
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button class="mat-elevation-z2" color="accent" type="submit">{{ 'Save' | uppercase}}</button>
    </mat-card-actions>

  </mat-card>
</form>
