<h1 class="little"> Add new widget </h1>

<mat-dialog-content>
  <mat-horizontal-stepper [linear]="true">

    <!-- Step 1 : Select category -->
    <mat-step>
      <ng-template matStepLabel> Select category </ng-template>

      <mat-grid-list cols="3" rowHeight="250px">
        <mat-grid-tile *ngFor="let category of categories">
          <mat-card class="widget-dialog-card">
            <mat-card-header>
              <mat-card-title> {{category.name}} </mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="getImageSrc(category.image)">
            <mat-card-actions>
              <button mat-button (click)="getWidgets(category.id)" matStepperNext >SELECT</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>

    <!-- Step 2 : Select Widget -->
    <mat-step>
      <ng-template matStepLabel> Select Widget </ng-template>

      <mat-grid-list cols="3" rowHeight="350px" *ngIf="widgets">
        <mat-grid-tile *ngFor="let widget of widgets">
          <mat-card class="widget-dialog-card step2">
            <mat-card-header>
              <mat-card-title> {{widget.name}} </mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="getImageSrc(widget.image)">
            <mat-card-content>
              {{widget.description}}
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="setSelectedWidget(widget)" matStepperNext >SELECT</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>

    <!-- Step 3 : Widget Settings -->
      <mat-step>
        <ng-template matStepLabel> Widget Settings </ng-template>
          <div *ngIf="selectedWidget" class="selected-widget-dialog-card">
            <h1> {{selectedWidget.name}} </h1>
            <div class="container">
              <div class="image-container">
                <img [src]="getImageSrc(selectedWidget.image)">
              </div>
              <div class="description-container">
                {{selectedWidget.description}}
              </div>
            </div>
            <div class="settings-container">
              <form id="formSettings" #formSettings="ngForm" (ngSubmit)="addWidget(formSettings)">
                <div *ngFor="let variable of selectedWidget.widgetVariables">
                  <mat-checkbox *ngIf="variable.type == widgetVariableEnum.BOOLEAN"
                                color="accent"
                                [name]="variable.name"
                                [required]="variable.required"
                                ngModel>
                    {{variable.description}}
                  </mat-checkbox>

                  <mat-form-field *ngIf="variable.type == widgetVariableEnum.INTEGER">
                    <input matInput
                           type="text"
                           [name]="variable.name"
                           [required]="variable.required"
                           [placeholder]="variable.description"
                           [ngModel]="variable.data">
                  </mat-form-field>

                  <mat-form-field *ngIf="variable.type == widgetVariableEnum.SECRET">
                    <input matInput
                           type="text"
                           [name]="variable.name"
                           [required]="variable.required"
                           [placeholder]="variable.description"
                           [ngModel]="variable.data">
                  </mat-form-field>

                  <mat-form-field *ngIf="variable.type == widgetVariableEnum.STRING">
                    <input matInput
                           type="text"
                           [name]="variable.name"
                           [required]="variable.required"
                           [placeholder]="variable.description"
                           [ngModel]="variable.data">
                  </mat-form-field>
                </div>

                <button mat-raised-button class="mat-elevation-z4" color="primary" type="submit">Add Widget</button>
              </form>
            </div>
          </div>
      </mat-step>


  </mat-horizontal-stepper>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>