/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.widget {
  width: 100%;
  height: 100%;
  background-color: transparent;

  &.moving {
    & {
      z-index: 1000;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .issue {
      z-index: 1015;
    }

    .btn-widget {
      z-index: 1020;
    }
  }

  .btn-widget {
    & {
      position: absolute;
      background-color: rgba(66, 66, 66, 0.6);
      color: #cfd2da !important;
      border: none;
      cursor: pointer;
      z-index: 20;
    }

    &.btn-widget-delete {
      right: 0;
    }

    &.btn-widget-edit {
      right: 41px;
    }

    &.btn-widget-log {
      right: 82px;
    }

    .material-icons {
      font-size: 21px;
    }
  }

  .issue {
    & {
      position: relative;
      width: -webkit-fill-available;
      width: -moz-available;
      z-index: 15;
      top: 0;
      font-size: 0.9em;
      display: flex;
      align-items: center;
      height: auto;
      padding: 5px;
    }

    &.execution-error {
      background-color: #b41e1ee0;
    }

    &.execution-warning {
      background-color: #e8af00db;
      color: rgba(0, 0, 0, 0.87);
    }

    .text {
      margin-left: 10px;
    }
  }

  .material-icons {
    margin-left: 5px;
  }

  .widget-html-content {
    height: 100%;
  }
}

.widget-disable-move-cursor {
  & {
    cursor: default;
  }
}
