<app-pages-header [secondTitle]="project?.name"></app-pages-header>

<!-- Dashboard screen -->
<div #dashboardScreen *ngIf="projectWidgets?.length > 0; else dashboardNoWidget">
  <app-dashboard-screen
      [project]="project"
      [projectWidgets]="projectWidgets"
      [screenCode]="screenCode"
      [readOnly]="isReadOnly"
      (disconnectEvent)="handlingDashboardDisconnect()">
  </app-dashboard-screen>
</div>


<!-- Display the add card, if no widget inside the project -->
<ng-template #dashboardNoWidget>
  <div fxLayout="col wrap" fxLayoutAlign="start start">
    <!-- Add Dashboard Card -->
    <mat-card class="mat-card-link" id="add-dashboard-card" fxFlex="31%">
      <a class="mat-card-link" (click)="openAddWidgetDialog()">
        <div class="card-icon-container">
          <mat-icon color="primary">add_box</mat-icon>
        </div>
      </a>
      <mat-card-actions align="start">
        <button #addDashboardButton mat-button (click)="openAddWidgetDialog()">
          <app-translate [key]="'widget.add'"></app-translate>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-template>
