.mat-card {
  & {
    margin-bottom: 20px;
  }

  .mat-card-content {
    .mat-icon {
      font-size: 5rem;
      width: auto;
      height: auto;
    }
  }

  a {
    display: block;
    cursor: pointer;
  }
}
