// Animation colors
@-webkit-keyframes status-warning-background {
  0% {
    background-color: #eeae32
  }
  50% {
    background-color: #ff9618
  }
  100% {
    background-color: #eeae32
  }
}

@-webkit-keyframes status-danger-background {
  0% {
    background-color: #e82711
  }
  50% {
    background-color: #9b2d23
  }
  100% {
    background-color: #e82711
  }
}

// Dashboard css
html.grid {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body.grid {
  margin: 0;
  background-color: #222;
  font-size: 20px;
  color: #fff;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100% !important;
}


.grid-stack {
  &.white {
    .preview-holder {
      background-color: #000000;
    }
  }

  b, strong {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
  }

  img, object {
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  td {
    vertical-align: middle;
  }

  h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
  }

  h1 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
  }

  h3 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
  }

  .icon-background {
    pointer-events: none;
    width: 100% !important;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
    font-size: 275px;
    text-align: center;
    margin-top: 82px;
  }

  .widget {
    & {
      text-align: center;
      cursor: move;
      background-color: #dfdfdf;
    }

    &.status-warning {
      & {
        background-color: #eeae32;
        -webkit-animation: status-warning-background 2s ease infinite;
        -moz-animation: status-warning-background 2s ease infinite;
        -ms-animation: status-warning-background 2s ease infinite;
      }

      .icon-warning-sign {
        display: inline-block;
      }

      .title, .more-info {
        color: #fff;
      }
    }

    &.status-danger {
      .icon-warning-sign {
        display: inline-block;
      }

      .title, .more-info {
        color: #fff;
      }
    }

    .status-danger, .status-warning {
      font-size: 14px;
      padding: 8px;
      color: rgba(255, 255, 255, 0.82);
    }

    .link {
      display: block;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }

    .more-info {
      color: rgba(255, 255, 255, 0.5);
    }

    .updated-at {
      color: rgba(0, 0, 0, 0.3);
    }

    .fullwidget {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .status-danger {
    color: #fff;
    background-color: #e82711;
    -webkit-animation: status-danger-background 2s ease infinite;
    -moz-animation: status-danger-background 2s ease infinite;
    -ms-animation: status-danger-background 2s ease infinite;
  }

  .status-warning {
    color: #fff;
    background-color: #ff9618;
    -webkit-animation: status-warning-background 2s ease infinite;
    -moz-animation: status-warning-background 2s ease infinite;
    -ms-animation: status-warning-background 2s ease infinite;
  }

  .more-info {
    font-size: 15px;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
  }

  .updated-at {
    font-size: 15px;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
  }

  #lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
  }

  clearfix:before, .clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    zoom: 1;
  }

  .ui-icon {
    background-image: none;
  }

  .grid-stack-item-content {
    & {
      position: absolute;
      top: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }

    .grid-stack-item-content-inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: fit-content;
    }
  }
}
