#screen-code-div {
    height: 220px;
    background-color: #424242;
    color: #fff;
    margin-bottom: 20px;
    font-size: 8em;
}

#screen-code-div mat-icon {
    height: auto;
    width: auto;
    font-size: 1em;
    color: inherit;
}

.grid {
    font-size: 20px;
    color: #fff;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-height: 100% !important;
}