<div *ngIf="widget"
     class="widget mat-elevation-z4" [ngClass]="widget.technicalName + ' widget-' + projectWidget.id"
     [ngGridItem]="{ 'col': projectWidget.widgetPosition.col,  'row': projectWidget.widgetPosition.row,
                     'sizey': projectWidget.widgetPosition.height, 'sizex': projectWidget.widgetPosition.width,
                     'payload': projectWidget.id}">

  <!-- Widget css -->
  <div [innerHTML]="('<style>' + widget.cssContent + '</style>') | safeHtml"></div>
  <div *ngIf="projectWidget.customStyle"
       [innerHTML]="('<style>' + projectWidget.customStyle + '</style>') | safeHtml">
  </div>

  <!-- Widget html -->
  <div class="grid-stack-item-content">
    <div [innerHTML]="projectWidget.instantiateHtml | safeHtml"></div>
  </div>

  <!-- Widget issue info -->
  <div *ngIf="widget.delay > 0 && projectWidget.log">

    <!-- Stopped -->
    <div *ngIf="projectWidget.state === WidgetStateEnum.STOPPED"
         class="issue execution-error">
      <span>
        <mat-icon class="material-icons" style="color: #cfd2da !important;">warning</mat-icon>
      </span>
      <span style="display: inline-block; color: #cfd2da !important">
        Widget execution error
      </span>
    </div>

    <!-- warning -->
    <div *ngIf="projectWidget.state === WidgetStateEnum.WARNING"
         class="issue execution-warning">
      <span>
        <mat-icon class="material-icons" style="color: #cfd2da !important;">warning</mat-icon>
      </span>
      <span style="display: inline-block; color: #cfd2da !important">
        Issue with remote server. Retrying ...
      </span>
    </div>
  </div>
</div>