#screen-code-div {
  & {
    height: 220px;
    margin-bottom: 20px;
    font-size: 8em;
  }

  mat-icon {
    height: auto;
    width: auto;
    font-size: 1em;
  }
}

.grid {
  font-size: 20px;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100% !important;
}
