<!-- Display Screen code -->
<div *ngIf="displayScreenCode" id="screen-code-div" fxLayout="col wrap" fxLayoutAlign="center center"
     fxLayoutGap="50px">
  <mat-icon>tv</mat-icon>
  <span> {{ screenCode }}</span>
</div>

<!-- Grid project -->
<div *ngIf="gridOptions" [ngGrid]="gridOptions" class="grid-stack">
  <div class="commonCssAndJs">
    <div [innerHTML]="getGridCSS(project.gridProperties.cssStyle) | safeHtml"></div>
    <div [innerHTML]="getWidgetCommonCSS() | safeHtml"></div>
  </div>

  <app-dashboard-screen-widget *ngFor="let projectWidget of projectWidgets"
                               [projectWidget]="projectWidget"
                               [readOnly]="readOnly">
  </app-dashboard-screen-widget>
</div>
