<app-pages-header [secondTitle]="'user.settings'"></app-pages-header>

<form *ngIf="userSettingForm" (ngSubmit)="saveUserSettings()" novalidate>

  <mat-card fxLayout="row wrap" fxLayoutAlign="center center" class="mat-elevation-z8">
    <mat-card-content fxFlex="80" fxLayout="column wrap">
      <app-input *ngFor="let field of formFields"
                 [formGroup]="userSettingForm"
                 [field]="field"
                 [isReadOnly]="false">
      </app-input>
    </mat-card-content>

    <mat-card-actions fxFlex="80">
      <button fxFill mat-raised-button type="submit" color="primary">
        <app-translate [key]="'save'"></app-translate>
      </button>
    </mat-card-actions>
  </mat-card>
</form>
