@if (field.type !== dataType.FIELDS) {
  <div class="input-wrapper">
    <!------------------------------------------------------------------------------------------------------->
    <!---                        MAT FORM FIELDS/ERROR                                                    --->
    <!------------------------------------------------------------------------------------------------------->
    @if ([dataType.NUMBER, dataType.TEXT, dataType.TEXTAREA, dataType.PASSWORD, dataType.COMBO, dataType.MULTIPLE].includes(field.type)) {
      <mat-form-field
        appearance="outline"
        [floatLabel]="field.placeholder ? 'always' : 'auto'"
        [ngClass]="{ 'mat-form-field-readonly': field.readOnly }"
        >
        <!-- Mat Icon prefix -->
        @if (field.iconPrefix) {
          <mat-icon
            class="prefix"
            matPrefix
            color="primary"
            [matTooltip]="field.iconPrefixTooltip"
            matTooltipPosition="above"
            matTooltipClass="icon-prefix-tooltip"
            >
            {{ materialIconRecords[field.iconPrefix] }}
          </mat-icon>
        }
        <!-- Mat label -->
        <mat-label> {{ field.label | translate }} </mat-label>
        <!-- SIMPLE INPUT -->
        @if ([dataType.NUMBER, dataType.TEXT, dataType.PASSWORD].includes(field.type)) {
          <input
            matInput
            [id]="field.key"
            [placeholder]="field.placeholder"
            [type]="field.type.toString().toLowerCase()"
            [formControl]="$any(getFormControl())"
            [required]="isRequired()"
            [readonly]="field.readOnly"
            [matAutocomplete]="autocomplete"
            (input)="emitValueChange('inputChange')"
            />
            <!-- Autocomplete -->
            <mat-autocomplete #autocomplete="matAutocomplete" (optionSelected)="emitValueChange('optionSelected')">
              @for (option of options; track option) {
                <mat-option [value]="option.value">
                  {{ option.label }}
                </mat-option>
              }
            </mat-autocomplete>
          }
          <!-- TEXT AREA INPUT -->
          @if (field.type === dataType.TEXTAREA) {
            <textarea
              matInput
              [id]="field.key"
              [placeholder]="field.placeholder"
              [formControl]="$any(getFormControl())"
              [required]="isRequired()"
              [readonly]="field.readOnly"
              (input)="emitValueChange('inputChange')"
            ></textarea>
          }
          <!-- SELECT INPUT -->
          @if ([dataType.COMBO, dataType.MULTIPLE].includes(field.type)) {
            <mat-select
              [id]="field.key"
              [formControl]="$any(getFormControl())"
              [multiple]="field.type === dataType.MULTIPLE"
              [required]="isRequired()"
              (selectionChange)="emitValueChange('optionSelected')"
              >
              @if (!isRequired() && field.type === dataType.COMBO) {
                <mat-option [value]="">None</mat-option>
              }
              @for (option of options; track option) {
                <mat-option [value]="option.value">
                  {{ option.label }}
                </mat-option>
              }
            </mat-select>
          }
          <!-- Mat Icon suffix -->
          @if (field.iconSuffix) {
            <mat-icon (click)="suffixActions()" matTooltip="" class="suffix" matSuffix color="primary">
              {{ materialIconRecords[field.iconSuffix] }}
            </mat-icon>
          }
          <!-- Display an hint the user -->
          @if (field.hint && !isInputFieldOnError()) {
            <mat-hint align="start">
              <span> {{ field.hint | translate }}</span>
            </mat-hint>
          }
        </mat-form-field>
      }
      <!------------------------------------------------------------------------------------------------------->
      <!---                        OTHER FIELDS                                                             --->
      <!------------------------------------------------------------------------------------------------------->
      @if (dataType.BOOLEAN === field.type) {
        <suricate-checkbox
          [field]="field"
          [formGroup]="formGroup"
          (valueChangeEvent)="emitValueChange('checkbox')"
          >
        </suricate-checkbox>
      }
      @if (dataType.FILE === field.type) {
        <suricate-file-input
          [field]="field"
          [formGroup]="formGroup"
          [componentRef]="componentRef"
          (valueChangeEvent)="emitValueChange('fileChanged')"
          >
        </suricate-file-input>
      }
      @if (dataType.COLOR_PICKER === field.type) {
        <suricate-color-picker [field]="field" [formGroup]="formGroup"> </suricate-color-picker>
      }
      <!------------------------------------------------------------------------------------------------------->
      <!---                        FIELDS ERROR MANAGEMENT                                                  --->
      <!------------------------------------------------------------------------------------------------------->
      @if (dataType.FILE !== field.type && isInputFieldOnError()) {
        <div [@animationError] class="input-error">
          <div>
            {{ getInputErrors() | translate }}
          </div>
        </div>
      }
    </div>
  }

  @if (field.type === dataType.FIELDS) {
    <suricate-fields [field]="field" [formArray]="$any(getFormControl())"> </suricate-fields>
  }

  @if (field.type === dataType.MOSAIC) {
    <suricate-mosaic
      [field]="field"
      [formGroup]="formGroup"
      (valueChangeEvent)="emitValueChange('mosaicOptionSelected')"
      >
    </suricate-mosaic>
  }
