#register-div {
  margin: 30px 0 40px 0;
}

mat-divider {
  margin: 10px 0 15px 0;
}

#screen-container {
  padding-bottom: 15px;
}


#registered-div {
  .screen-line {
    min-height: 50px;
  }

  .screen-icon {
    font-size: 2.0em;
    margin-right: 15px;
  }

  .screen-code {
    font-size: 1.6em;
    font-variant: all-small-caps;
    margin-top: -5px;
  }
}

#display-code-link {
  a {
    text-decoration: none;
    cursor: pointer;
  }
}
