<h1 matDialogTitle class="little title">Screen Management</h1>

<mat-dialog-content>
  <div fxFlexFill fxLayout="row wrap">

    <!-- Register screen part -->
    <form [formGroup]="screenRegisterForm" (submit)="registerScreen()" novalidate>
      <div id="register-div" fxFlex="100" fxLayout="row wrap" fxLayoutGap="20px">
        <h2 class="little title" fxFlex="100"> Enroll screen to this dashboard </h2>
        <mat-divider fxFlex="100"></mat-divider>

        <div fxFlex="100" fxLayout="col wrap" fxLayoutAlign="start center" fxLayoutGap="25px">
          <mat-form-field fxFlex="50">
            <input matInput
                   type="number"
                   placeholder="Enter the code displayed on the screen"
                   formControlName="screenCode">
          </mat-form-field>
          <button mat-raised-button color="accent"> Register</button>
        </div>
      </div>
    </form>

    <!-- Registered screen part -->
    <div id="registered-div" fxFlex="100" fxLayout="row wrap" fxLayoutGap="20px">
      <h2 class="little title" fxFlex="100">
        Currently linked screen - {{ websocketClients?.length }} client(s)
      </h2>
      <mat-divider fxFlex="100"></mat-divider>

      <!-- screen codes -->
      <div id="screen-container" fxFlex="100" fxLayout="col wrap" fxLayoutAlign="start center" fxLayoutGap="30px">
        <div *ngFor="let websocketClient of websocketClients"
             fxFlex="29"
             fxLayout="row wrap"
             fxLayoutAlign="center center">
          <span class="screen-line" fxFlex="100" fxLayout="col wrap" fxLayoutAlign="center center">
            <mat-icon class="screen-icon">tv</mat-icon>
            <span class="screen-code">code: {{ websocketClient.screenCode }}</span>
          </span>
          <button fxFlex="75" mat-raised-button color="accent" (click)="disconnectScreen(websocketClient)">DISCONNECT
          </button>
        </div>
      </div>

      <!-- Show screen code -->
      <div id="display-code-link">
        <a fxLayout="col wrap" fxLayoutAlign="start center" (click)="displayScreenCode(project.token)">
          <mat-icon>keyboard_arrow_right</mat-icon>
          <span>Show code on clients to identify screen</span>
        </a>
      </div>
    </div>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>