h1 {
  font-variant: all-small-caps;
}

mat-card {
  width: 190px;
  min-height: 167px;
}

mat-card .step2 {
  min-height: 250px;
}
mat-card img {
  display: flex;
  margin: 0 auto 10px auto;
  width: auto;
  max-width: 130px;
  height: auto;
  max-height: 100px;
  padding: 4px;
}

mat-card mat-card-actions {
  position: absolute;
  bottom: 20px;
}

.selected-widget-dialog-card {
  width: auto !important;
  margin: 10px auto;
  padding-left: 30px;
  min-height: 300px;
}
.selected-widget-dialog-card > h1 {
  text-align: center;
  font-size: 1.6em;
}
.selected-widget-dialog-card > .container {
  display: flex;
}
.selected-widget-dialog-card .image-container {
  margin: 10px 50px 0 0;
  width: auto;
  height: auto;
}
.selected-widget-dialog-card .image-container > img {
  height: 200px;
  width: auto;
}
.selected-widget-dialog-card .description-container {
  margin: auto;
}
.selected-widget-dialog-card .settings-container {
  margin-top: 30px;
}
.selected-widget-dialog-card .settings-container * {
  width: 100%;
}
.selected-widget-dialog-card #formSettings button {
  margin-top: 40px;
}

#formSettings .button-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 1.25em;
}
#formSettings .button-wrapper .file_upload_button {
    height: 45px;
    width: 100%;
    background-color: transparent;
}
#formSettings .button-wrapper .file_upload_button mat-icon {
    float: left;
    height: auto;
    width: auto;
    font-size: 2.2em;
    color: #cfd2da;
    margin-top: 4px;
}
#formSettings .button-wrapper .file_upload_button span {
    color: #cfd2da;
    font-size: 1.3em;
}

#widget-info {
    text-align: center;
    color: #cfd2da;
    margin-top: 30px;
    padding: 30px 0 30px 0;
    background-color: #565656;
    border-radius: 4px;
}