<mat-sidenav-container fxFlex="100%" fxLayout="row wrap" fxLayoutAlign="start">
  <mat-sidenav #formSidenav class="form-sidenav" mode="over" fxFlex="500px" position="end" opened="false">
    <suricate-form-sidenav fxLayout="column wrap" (open)="openFormSidenav()"> </suricate-form-sidenav>
  </mat-sidenav>

  <mat-sidenav
    #sidenav
    fxFlex="180px"
    fxLayout="column wrap"
    fxLayoutAlign="none none"
    mode="side"
    position="start"
    opened="true"
    class="menu-sidenav mat-elevation-z15"
  >
    <!-- User Section -->
    <div id="user-section" class="sidenav-section" *ngIf="connectedUser">
      <div class="avatar-container">
        <div class="avatar">
          {{ getConnectedUserInitial() }}
        </div>
      </div>

      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="nameContainer">
                <div>{{ connectedUser.fullname }}</div>
                <div>({{ connectedUser.username }})</div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="submenu">
            <div>
              <a mat-list-item routerLinkActive="active" [routerLink]="['/settings']">
                <mat-icon>settings</mat-icon>
                <suricate-translate [key]="'settings'"></suricate-translate>
              </a>
            </div>
            <div>
              <a mat-list-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <suricate-translate [key]="'logout'"></suricate-translate>
              </a>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="sidenav-section-container" fxLayout="column wrap" fxLayoutGap="8px">
      <mat-divider></mat-divider>
      <div id="button-section" class="sidenav-section" fxLayout="row wrap" fxLayoutAlign="start center">
        <a fxFlex="40" routerLinkActive="active" [routerLink]="['/home']" [matTooltip]="'home' | translate">
          <div fxFlex="100" class="common-icon-button" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-icon color="default">home</mat-icon>
          </div>
        </a>
        <a fxFlex="40" routerLinkActive="active" [routerLink]="['/tv']" [matTooltip]="'tv.view' | translate" target="_blank">
          <div fxFlex="100" class="common-icon-button" fxLayout="row wrap" fxLayoutAlign="center center">
            <mat-icon color="default">tv</mat-icon>
          </div>
        </a>
      </div>
      <mat-divider></mat-divider>

      <!-- Admin Section -->
      <div *ngIf="isUserAdmin" class="sidenav-section">
        <h1 class="little title">
          <suricate-translate [key]="'security'"></suricate-translate>
        </h1>

        <mat-nav-list>
          <a mat-list-item routerLinkActive="active" [routerLink]="['/admin', 'users']">
            <suricate-translate [key]="'users'"></suricate-translate>
          </a>
          <a mat-list-item *ngIf="isUserAdmin" routerLinkActive="active" [routerLink]="['/admin', 'dashboards']">
            <suricate-translate [key]="'dashboards'"></suricate-translate>
          </a>
        </mat-nav-list>
      </div>

      <!-- Widget section -->
      <div class="sidenav-section">
        <h1 class="little title">
          <suricate-translate [key]="'widgets'"></suricate-translate>
        </h1>
        <mat-nav-list>
          <a mat-list-item *ngIf="isUserAdmin" routerLinkActive="active" [routerLink]="['/repositories']">
            <suricate-translate [key]="'repositories'"></suricate-translate>
          </a>
          <a mat-list-item *ngIf="isUserAdmin" routerLinkActive="active" [routerLink]="['/widgets/configurations']">
            <suricate-translate [key]="'configurations'"></suricate-translate>
          </a>
          <a mat-list-item routerLinkActive="active" [routerLink]="['/widgets/catalog']">
            <suricate-translate [key]="'widgets.list'"></suricate-translate>
          </a>
        </mat-nav-list>
      </div>

      <!-- Dashboard Section -->
      <div class="sidenav-section">
        <h1 class="little title">
          <suricate-translate [key]="'dashboards'"></suricate-translate>
        </h1>
        <mat-nav-list>
          <a mat-list-item routerLinkActive="active" *ngFor="let dashboard of dashboards" [routerLink]="['/dashboards', dashboard.token]">{{
            dashboard.name
          }}</a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content fxFlex="auto">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
