<mat-sidenav-container>
  <!-- Sidenav used to display the form sidenav component -->
  <mat-sidenav
    #formSidenav
    class="form-sidenav"
    mode="over"
    position="end"
    opened="false"
    [fixedInViewport]="true"
    [autoFocus]="false"
    >
    <suricate-form-sidenav (openFormSidenav)="openFormSidenav()" (closeFormSidenav)="closeFormSidenav()"> </suricate-form-sidenav>
  </mat-sidenav>

  <!-- Sidenav used to display the menu -->
  @if (!shouldHideMenu) {
    <mat-sidenav
      mode="side"
      position="start"
      opened="true"
      class="menu-sidenav mat-elevation-z15"
      [fixedInViewport]="true"
      >
      <suricate-menu> </suricate-menu>
    </mat-sidenav>
  }

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
