.titles {
  display: inline-block;
}
.actions {
  padding: 0px 25px 0 0;
  display: inline-block;
  float: right;
}
h2.header {
  font-weight: 300;
  font-variant: all-small-caps;
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
mat-divider {
  margin-top: 10px;
  margin-bottom: 15px;
  border-top-color: #7e818880;
}