<div *ngIf="formGroup" class="form-sidenav-container">
  <h1>{{ configuration.title | translate | uppercase }}</h1>

  <p *ngIf="configuration.noFieldsMessage && configuration.formFields.length === 0">{{ configuration.noFieldsMessage | translate }}</p>

  <suricate-slide-toggle
    *ngIf="configuration.slideToggleButtonConfiguration?.displaySlideToggleButton"
    [label]="'widget.parameters.category.override.title'"
    [toggleChecked]="configuration?.slideToggleButtonConfiguration?.toggleChecked"
    (slideToggleButtonPressed)="getCategorySettings($event)"
  >
  </suricate-slide-toggle>

  <div class="settings-main-container">
    <div>
      <suricate-input
        *ngFor="let field of configuration.formFields"
        [formGroup]="formGroup"
        [componentRef]="configuration.componentRef"
        [field]="field"
        (valueChangeEvent)="valueChanged($event)"
      >
      </suricate-input>
    </div>

    <suricate-buttons class="sidenav-buttons" [configurations]="buttons"> </suricate-buttons>
  </div>
</div>
