<div class="container" fxLayout="column wrap" fxLayoutAlign="center center">
    <form id="login-form" [formGroup]="loginForm" (ngSubmit)="login()" fxFlex fxLayout="column wrap" fxLayoutAlign="center center" >
        <mat-card id="card-login" fxFlex="50" fxLayout="column wrap" fxLayoutAlign="center" class="mat-elevation-z12">
          <mat-card-content fxFlex="80" fxLayout="row wrap" fxLayoutAlign="center center">
            <!-- When form has been submitted -->
            <mat-spinner *ngIf="formSubmitAttempt"></mat-spinner>

            <!-- Before Submit the form -->
            <div fxFlex="90" fxLayout="column wrap" fxLayoutAlign="center" *ngIf="!formSubmitAttempt" class="form-content">
              <mat-form-field>
                <input matInput id="username" placeholder="Username" formControlName="username" />
                <mat-error *ngIf="isFieldInvalid('username')">
                  Username is mandatory
                </mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput id="password" placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'" required/>
                <mat-icon matSuffix color="primary" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="isFieldInvalid('password')">
                  Password is mandatory
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions fxFlex="10" fxLayout="row wrap" fxLayoutAlign="center" *ngIf="!formSubmitAttempt">
            <button fxFlex="90" mat-raised-button class="mat-elevation-z2" color="primary" type="submit">Sign In</button>
          </mat-card-actions>
        </mat-card>
    </form>
</div>