.container {
    height: 95vh;
}
.content{
    width: 40%;
}
#login-form {
    width: 100%;
}
#card-login {
    width: 100%;
}
#card-login .mat-form-field {
    margin-top: 25px;
}
.not-registered-sentance {
    color: rgba(255, 255, 255, 0.70);
    margin-left: 9%;
}
.mat-icon {
    color: rgba(255, 255, 255, 0.70);
}
.mat-icon.prefix {
    margin-right: 10px;
}