<div class="container"
     fxLayout="column wrap"
     fxLayoutAlign="center center">

  <div class="content"
       fxFlex="100"
       fxLayout="column wrap"
       fxLayoutAlign="center center"
       fxLayoutGap="7%">

    <form *ngIf="loginForm"
          id="login-form"
          [formGroup]="loginForm"
          (ngSubmit)="login()"
          fxFlex="70"
          novalidate>

      <mat-card id="card-login"
                fxFlexFill
                fxLayout="column wrap"
                fxLayoutAlign="center"
                class="mat-elevation-z12">

        <mat-card-content fxFlex="80"
                          fxLayout="row wrap"
                          fxLayoutAlign="center center">
          <!-- When form has been submitted -->
          <mat-spinner *ngIf="formSubmitAttempt"></mat-spinner>

          <!-- Before Submit the form -->
          <div id="login-div"
               fxFlex="90"
               fxLayout="column wrap"
               fxLayoutAlign="center"
               *ngIf="!formSubmitAttempt"
               class="form-content">

            <img src="../../../../assets/images/logo.png"/>

            <!-- Username Input -->
            <mat-form-field>
              <mat-icon class="prefix" matPrefix>person</mat-icon>
              <input matInput
                     type="text"
                     id="username"
                     placeholder="{{'username' | translate}}"
                     formControlName="username"
                     [required]="loginForm.get('username').errors && loginForm.get('username').errors.required"/>
              <mat-error *ngIf="isFieldInvalid('username')">
                <app-translate [key]="'username.required'"></app-translate>
              </mat-error>
            </mat-form-field>

            <!-- Password Input -->
            <mat-form-field>
              <mat-icon class="prefix" matPrefix>lock</mat-icon>
              <input matInput
                     [type]="hidePassword ? 'password' : 'text'"
                     id="password"
                     placeholder="{{'password' | translate}}"
                     formControlName="password"
                     [required]="loginForm.get('password').errors && loginForm.get('password').errors.required"/>

              <mat-icon class="show-pwd-icon"
                        matSuffix
                        (click)="hidePassword = !hidePassword">
                {{hidePassword ? 'visibility' : 'visibility_off'}}
              </mat-icon>
              <mat-error *ngIf="isFieldInvalid('password')">
                <app-translate [key]="'password.required'"></app-translate>
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-card-actions fxFlex="13"
                          fxLayout="row wrap"
                          fxLayoutAlign="center"
                          fxLayoutGap="15px"
                          *ngIf="!formSubmitAttempt">
          <button fxFlex="85" mat-raised-button class="mat-elevation-z2" color="accent" type="submit">{{ 'sign.in' |
            translate | uppercase}}
          </button>
        </mat-card-actions>
      </mat-card>
    </form>

    <div fxFlex="5" class="not-registered-sentance" fxFlexAlign="start" fxLayout="col wrap" fxLayoutGap="6px">
      <app-translate [key]="'not.registered'"></app-translate>
      <a [routerLink]="['/register']">
        <app-translate [key]="'sign.up'"></app-translate>
      </a>
    </div>
  </div>
</div>