.container {
    height: 97vh;
}
.content{
    width: 40%;
}
.logo-container {
    height: 70%;
}
#tv-code-card {
    height: 50%;
}
#tv-code-card img {
    margin: 0 auto;
}
#tv-code-card #screen-code-wrapper {
    height: 26%;
    font-size: 3.2rem;
    background-color: #3030307a;
}