<div id="tv-view">
  <app-dashboard-screen *ngIf="(project$ | async); else displayScreenCode"
                        [project]="(project$ | async)"
                        [readOnly]="true"
                        [screenCode]="screenCode">
  </app-dashboard-screen>

  <ng-template #displayScreenCode>
    <div class="container"
         fxLayout="column wrap"
         fxLayoutAlign="center center">

      <div class="content"
           fxFlex="100"
           fxLayout="row wrap"
           fxLayoutAlign="center center">

        <mat-card id="tv-code-card"
                  fxFlex="100"
                  fxLayout="column wrap"
                  fxLayoutAlign="center"
                  class="mat-elevation-z12">

          <mat-card-content fxFlex="100"
                            fxLayout="row wrap"
                            fxLayoutAlign="center start">

            <div class="logo-container" fxFlex="100" fxLayout="column wrap" fxLayoutAlign="center center">
              <img fxFlex="100" src="../../../../assets/images/logo.png">
            </div>

            <div id="screen-code-wrapper" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
              {{ screenCode }}
            </div>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </ng-template>
</div>