@import '~@angular/material/theming';

/**
 * Component for that modify the theme of Angular Material mat-button
 */
@mixin custom-mat-button-theme($theme) {
  // Angular Material colors
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-raised-button {
    &.mat-primary {
      background-color: mat-color($primary, A700);
    }
  }
}
