<suricate-pages-header [secondTitle]="'configurations.list'"></suricate-pages-header>

<mat-tree [dataSource]="configDataSource" [treeControl]="configTreeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    {{ node.filename }} : {{ node.type }}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{ configTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    {{ node.filename }} : {{ node.type }}
  </mat-tree-node>
</mat-tree>
