.grid {
    font-size: 20px;
    color: #fff;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.grid-item.moving {
    z-index: 10;
}
#server-error {
    background-color: #b58900;
    position: relative;
    z-index: 20;
    height: 85px;
    font-size: 1.5rem;
}
#server-error .mat-icon {
    font-size: 3rem;
    width: 48px;
    height: 48px;
}
#screen-code-div {
    height: 220px;
    background-color: #424242;
    margin-bottom: 20px;
    font-size: 8em;
}
#screen-code-div mat-icon {
    height: auto;
    width: auto;
    font-size: 1em;
}