<div id="server-error"
     *ngIf="currentStompConnectionState === stompStateEnum.CLOSED || currentStompConnectionState === stompStateEnum.TRYING"
     fxLayout="row wrap"
     fxLayoutAlign="center center"
     fxLayoutGap="30px">
  <span> <mat-icon>warning</mat-icon> </span>
  <span> Server connection lost. Trying to reconnect ... </span>
</div>

<div *ngIf="gridOptions" [ngGrid]="gridOptions" (onItemChange)="updateProjectWidgetsPosition($event)" >
  <div class="commonCssAndJs">
    <div [innerHTML]="getGridCSS(project.cssStyle) | safeHtml"></div>
    <div [innerHTML]="getWidgetCommonCSS() | safeHtml"></div>
    <div [innerHTML]="getJSLibraries(project.librariesToken) | safeHtml"
         (scriptRenderingFinished)="setSrcScriptRendered($event)"
         appRunScripts></div>
  </div>

  <span *ngIf="isSrcScriptsRendered">
      <div #projectWidgetsRendered
           *ngFor="let projectWidget of this.sortProjectWidgets(project.projectWidgets); let projectWidgetsLoaded = last"
           [ngClass]="'widget ' + projectWidget.widget.technicalName + ' widget-' + projectWidget.id"
           [ngGridItem]="{'col': projectWidget.widgetPosition.col,
                    'row': projectWidget.widgetPosition.row,
                    'sizey': projectWidget.widgetPosition.height,
                    'sizex': projectWidget.widgetPosition.width,
                    'payload': projectWidget.id}"
           [innerHTML]="getHtmlAndCss(projectWidget) | safeHtml" appRunScripts>

      </div>
  </span>
</div>
