<div class="tv-wrapper">
  @if (!project || !projectWidgetsByGrid) {
    <div
      class="container without-header"
      >
      <div class="wrapper mat-elevation-z12">
        <div class="brand-image">
          <img ngSrc="../../../../../assets/images/logo.png" width="282" height="282" alt="brand image" />
        </div>
        @if (isDashboardLoading) {
          <suricate-spinner color="accent"></suricate-spinner>
        }
        @if (!isDashboardLoading) {
          <div id="screen-code-wrapper">
            {{ screenCode }}
          </div>
        }
      </div>
    </div>
  } @else {
    @for (entry of projectWidgetsByGrid | keyvalue; track entry; let i = $index) {
      <suricate-dashboard-screen
        hideAfterInit
        [hide]="entry.key !== project.grids[rotationIndex].id"
        [project]="project"
        [projectWidgets]="entry.value"
        [screenCode]="screenCode"
        [readOnly]="true"
        [openWebsockets]="i === 0"
        (refreshAllProjectWidgets)="refreshCurrentProjectAndWidgets()"
        (disconnectEvent)="handlingDashboardDisconnect()"
      ></suricate-dashboard-screen>
    }
  }


  @if (project && project.grids.length > 1 && project.displayProgressBar) {
    <suricate-progress-bar class="rotation-progress-bar" [value]="timerPercentage"></suricate-progress-bar>
  }
</div>
