<div class="tv-wrapper">
  <div
    *ngIf="!projectToken || !projectWidgets; else dashboardScreen"
    class="container without-header"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div class="wrapper mat-elevation-z12" fxLayout="column" fxLayoutAlign="center center" fxFlex="400px">
      <div class="brand-image">
        <img src="../../../../../assets/images/logo.png" alt="brand image" />
      </div>

      <suricate-spinner *ngIf="isDashboardLoading" color="accent"></suricate-spinner>
      <div *ngIf="!isDashboardLoading" id="screen-code-wrapper" fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
        {{ screenCode }}
      </div>
    </div>
  </div>

  <ng-template #dashboardScreen>
    <suricate-dashboard-screen
      [rotation]="rotation"
      [project]="project"
      [projectWidgets]="projectWidgets"
      [screenCode]="screenCode"
      [readOnly]="true"
      (refreshProjectWidget)="refreshProjectWidgetsAction()"
      (disconnectEvent)="handlingDashboardDisconnect()"
    ></suricate-dashboard-screen>
  </ng-template>

  <suricate-progress-bar *ngIf="rotation && projectWidgets && rotation.progressBar" class="rotation-progress-bar" [value]="rotationTimerPercent"></suricate-progress-bar>
</div>
