<div fxLayout="col wrap" class="input-wrapper inner-form-group">
  <h1 fxFlex="100%">{{ field.label | translate }}</h1>

  <ng-container *ngFor="let innerFormGroup of $any(formArray.controls); let index = index">
    <div fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100%">
      <ng-container *ngFor="let innerField of field.fields">
        <suricate-input
          *ngIf="innerField.type !== dataType.HIDDEN"
          [field]="innerField"
          [formGroup]="innerFormGroup"
          [fxFlex]="getInnerFormSize()"
        >
        </suricate-input>
      </ng-container>

      <div fxFlex="5" fxLayoutAlign="center center" *ngIf="field.deleteRow">
        <mat-icon class="trash-icon" fxFlexAlign="center center" (click)="deleteRow(innerFormGroup, index)">
          {{ materialIconRecords[iconEnum.DELETE] }}
        </mat-icon>
      </div>
    </div>
  </ng-container>
</div>
