<div class="input-wrapper inner-form-group">
  <h1>{{ field.label | translate }}</h1>

  @for (innerFormGroup of $any(formArray.controls); track innerFormGroup; let index = $index) {
    <div class="fields-container">
      @for (innerField of field.fields; track innerField) {
        @if (innerField.type !== dataType.HIDDEN) {
          <suricate-input
            [style.width.%]="getInnerFormSize()"
            [field]="innerField"
            [formGroup]="innerFormGroup"
            >
          </suricate-input>
        }
      }
      @if (field.deleteRow) {
        <suricate-buttons class="delete-row" [configurations]="deleteRowConfig" [object]='{ formGroup: innerFormGroup, index: index}'> </suricate-buttons>
      }
    </div>
  }
</div>
