<h1 matDialogTitle class="little title"> {{ projectAdded ? ('dashboard.edit' | translate) : ('dashboard.add' |
  translate) }}</h1>

<mat-dialog-content *ngIf="!isEditMode || (isEditMode && projectAdded)">

  <mat-horizontal-stepper #addDashboardStepper [linear]="true">
    <!-- Step 1 : Dashboard settings -->
    <mat-step [completed]="dashboardFormCompleted">
      <form [formGroup]="dashboardForm" (submit)="saveDashboard()" novalidate>
        <ng-template matStepLabel>
          <app-translate [key]="'dashboard.settings'"></app-translate>
        </ng-template>

        <div fxLayout="column wrap"
             fxLayoutAlign="center start"
             fxLayoutGap="20px">

          <!-- Dashboard name input -->
          <mat-form-field fxFlexFill>
            <input matInput
                   type="text"
                   id="dashboard_name"
                   placeholder="{{ 'dashboard.name' | translate }}"
                   formControlName="name"
                   [required]="this.dashboardForm.get('name').errors && this.dashboardForm.get('name').errors.required">

            <mat-error *ngIf="isFieldInvalid('name')">
              <app-translate [key]="'field.required'"></app-translate>
            </mat-error>
          </mat-form-field>

          <h1 fxFlexFill class="little">{{ 'grid.configuration' | translate | uppercase}}</h1>
          <mat-form-field fxFlexFill>
            <input matInput
                   type="number"
                   id="widget_height"
                   placeholder="{{ 'widget.heigth.px' | translate}}"
                   formControlName="widgetHeight"
                   [required]="this.dashboardForm.get('widgetHeight').errors && this.dashboardForm.get('widgetHeight').errors.required">

            <mat-error *ngIf="isFieldInvalid('widgetHeight')">
              <app-translate [key]="'field.required.int.length'"></app-translate>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlexFill>
            <input matInput
                   type="number"
                   id="nb_column"
                   placeholder=""
                   formControlName="maxColumn"
                   [required]="this.dashboardForm.get('maxColumn').errors && this.dashboardForm.get('maxColumn').errors.required">

            <mat-error *ngIf="isFieldInvalid('maxColumn')">
              <app-translate [key]="'field.required.int.length'"></app-translate>
            </mat-error>
          </mat-form-field>

          <h1 fxFlexFill class="little">{{ 'grid.style' | translate | uppercase}}</h1>

          <mat-form-field>
            <input matInput
                   placeholder="{{ 'grid.background.color' | translate }}"
                   value=" "
                   [style.background]="dashboardBackgroundColor"
                   [(colorPicker)]="dashboardBackgroundColor"
                   [cpPosition]="'top'"
                   [cpOutputFormat]="'hex'"
                   [cpAlphaChannel]="'always'"
                   [cpPresetColors]="[dashboardBackgroundColor]"
                   [readonly]="true">
          </mat-form-field>


          <button fxFlexAlign="end" mat-raised-button color="accent">
            <app-translate [key]="'save.and.assign'"></app-translate>
            <mat-icon matSuffix>keyboard_arrow_right</mat-icon>
          </button>
        </div>

      </form>
    </mat-step>

    <!-- Step 2 : Add users -->
    <mat-step>
      <ng-template matStepLabel>
        <app-translate [key]="'users.add'"></app-translate>
      </ng-template>

      <div fxLayout="column wrap" fxFlexAlign="start center" fxLayoutGap="50px">
        <form id="user-form" fxFlexFill [formGroup]="addUserForm" fxLayout="row wrap"
              fxLayoutAlign="space-between start" fxLayoutGap="10px" (submit)="addUser()">
          <mat-form-field fxFlex="80">
            <mat-icon matPrefix style="margin-right: 10px">person_pin</mat-icon>
            <input matInput
                   type="text"
                   formControlName="username"
                   [required]="this.addUserForm.get('username').errors && this.addUserForm.get('username').errors.required"
                   [matAutocomplete]="usernameAutoComplete">
            <mat-hint align="start">
              <app-translate [key]="'username.search'"></app-translate>
            </mat-hint>
            <mat-autocomplete #usernameAutoComplete="matAutocomplete">
              <mat-option *ngFor="let user of userAutoComplete$ | async" [value]="user.username">
                {{user.username | uppercase}} - {{user.firstname}} {{user.lastname}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button fxFlex="15" fxFlexAlign="center" mat-raised-button id="add-user-button" color="accent" type="submit"
                  name="add-user">
            <app-translate [key]="'user.add'"></app-translate>
          </button>
        </form>
        <div class="user-list">
          <h1 class="little">
            <app-translate [key]="'users.dashboard'"></app-translate>
          </h1>
          <mat-list role="list" *ngIf="projectAdded">
            <mat-list-item *ngFor="let user of projectAdded.users">
              <mat-icon style="display: block">account_box</mat-icon>
              <div> {{user.firstname}} {{user.lastname}} ({{user.username | uppercase}})</div>
              <button
                  mat-icon-button
                  matTooltip="Delete user"
                  color="warn"
                  (click)="deleteUser(user.id)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <app-translate [key]="'close'"></app-translate>
  </button>
</mat-dialog-actions>