<app-pages-header [secondTitle]="'repositories.list'"></app-pages-header>

<div class="table-container mat-elevation-z2">
  <div class="table-loading-shade" *ngIf="isLoadingResults || errorCatched">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    <div class="table-error" *ngIf="errorCatched">
      <app-translate [key]="'error'"></app-translate>
    </div>
  </div>

  <mat-table #table [dataSource]="matTableDataSource" class="table-show" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell fxFlex="11%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'name'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="11%" *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <!-- Local path Column -->
    <ng-container matColumnDef="localPath">
      <mat-header-cell fxFlex="30%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'local.path'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="30%" *matCellDef="let row">{{ row.localPath }}</mat-cell>
    </ng-container>

    <!-- url Column -->
    <ng-container matColumnDef="url">
      <mat-header-cell fxFlex="30%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'url'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="30%" *matCellDef="let row">{{ row.url }}</mat-cell>
    </ng-container>

    <!-- Branch Column -->
    <ng-container matColumnDef="branch">
      <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'branch'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="10%" *matCellDef="let row">{{ row.branch }}</mat-cell>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <mat-header-cell fxFlex="10%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'type'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="10%" *matCellDef="let row">{{ row.type }}</mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell fxFlex="9%" *matHeaderCellDef mat-sort-header disableClear="true">
        <app-translate [key]="'activation.status'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="9%" *matCellDef="let row">
        <mat-slide-toggle color="primary" [checked]="row.enabled" (change)="toggleWidgetActivation(row, $event)"> </mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell fxFlex="8%" *matHeaderCellDef>
        <app-translate [key]="'edit'"></app-translate>
      </mat-header-cell>
      <mat-cell fxFlex="8%" *matCellDef="let row">
        <a [routerLink]="[row.id, 'edit']">
          <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="30"> </mat-paginator>
</div>
