#card-edit {
    width: 100%;
}

#card-edit > * {
    width: 70%;
    margin: 5px 0;
}

#card-edit button {
    display: block;
    width: 100%;
}

.mat-icon.prefix {
    margin-right: 10px;
}

.mat-form-field {
    width: 100%;
    margin: 10px 0;
}