<app-pages-header [secondTitle]="'List of users'"></app-pages-header>

<div class="table-container mat-elevation-z8">
  <div class="table-loading-shade" *ngIf="isLoadingResults || errorCatched">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    <div class="table-error" *ngIf="errorCatched">
        An error as occured
    </div>
  </div>

  <mat-table #table [dataSource]="matTableDataSource" class="table-show" matSort>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
        <mat-header-cell fxFlex="17" *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
        <mat-cell fxFlex="17" *matCellDef="let row">{{ row.username | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <mat-header-cell fxFlex="20" *matHeaderCellDef mat-sort-header>Fullname</mat-header-cell>
      <mat-cell fxFlex="20" *matCellDef="let row">{{ row.fullname | titlecase }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mail">
      <mat-header-cell *matHeaderCellDef>Mail</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.email }}</mat-cell>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="roles">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Roles</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ getRolesName(row.roles) }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell fxFlex="5" *matHeaderCellDef> Edit </mat-header-cell>
      <mat-cell fxFlex="5" *matCellDef="let row">
        <a [routerLink]="[row.id]">
          <button mat-icon-button color="accent">
            <mat-icon>edit</mat-icon>
          </button>
        </a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell fxFlex="5" *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell fxFlex="5" *matCellDef="let row">
        <a (click)="openDialogDeleteUser(row.id)">
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="30">
  </mat-paginator>
</div>
