<!------------------------------------------------------------------------------------------------------->
<!---                        MAT FORM FIELDS/ERROR                                                    --->
<!------------------------------------------------------------------------------------------------------->

<mat-form-field
    *ngIf="[dataType.NUMBER, dataType.TEXT, dataType.PASSWORD, dataType.COMBO, dataType.MULTIPLE].includes(field.type)"
    [floatLabel]="field.placeholder ? 'always' : 'auto'" fxFlex="100">

  <!-- Mat Icon prefix -->
  <mat-icon *ngIf="field.matIconPrefix" class="prefix" matPrefix color="primary">
    {{ field.matIconPrefix }}
  </mat-icon>

  <!-- Mat label -->
  <mat-label>
    <app-translate [key]="field.label"></app-translate>
  </mat-label>

  <!-- SIMPLE INPUT -->
  <input *ngIf="[dataType.NUMBER, dataType.TEXT, dataType.PASSWORD].includes(field.type)"
         matInput
         [id]="field.key"
         [placeholder]="field.placeholder"
         [type]="field.type.toLowerCase()"
         [formControl]="getFormControl()"
         [required]="isRequired()"
         [readonly]="field.readOnly">

  <!-- SELECT INPUT -->
  <mat-select *ngIf="[dataType.COMBO, dataType.MULTIPLE].includes(field.type)"
              [id]="field.key"
              [formControl]="getFormControl()"
              [multiple]="field.type === dataType.MULTIPLE"
              [required]="isRequired()"
              (selectionChange)="emitValueChange($event.value)">
    <mat-option *ngFor="let option of field.options" [value]="option.key">
      {{ option.label }}
    </mat-option>
  </mat-select>

  <!-- Mat Icon suffix -->
  <mat-icon *ngIf="field.matIconSuffix" matSuffix color="primary">
    {{ field.matIconSuffix }}
  </mat-icon>

  <!-- Display an hint the user -->
  <mat-hint align="start" *ngIf="field.hint || field.readOnly">
    <app-translate *ngIf="field.readOnly" [key]="'field.readonly'"></app-translate>
    <span *ngIf="field.hint"> {{ field.hint }}</span>
  </mat-hint>

  <!------------------------------------------------------------------------------------------------------->
  <!---                        FIELDS ERROR MANAGEMENT                                                  --->
  <!------------------------------------------------------------------------------------------------------->
  <!-- Error message : Required -->
  <mat-error *ngIf="getFormControl()['errors']?.required">
    <app-translate [key]="'field.required'"></app-translate>
  </mat-error>
  <!-- Error message : Length -->
  <mat-error *ngIf="getFormControl()['errors']?.minlength">
    <app-translate [key]="'field.length'"></app-translate>
  </mat-error>
  <!-- Error message : Email -->
  <mat-error *ngIf="getFormControl()['errors']?.email">
    <app-translate [key]="'field.email.invalid.format'"></app-translate>
  </mat-error>
  <!-- Error message : Password confirmation -->
  <mat-error *ngIf="getFormControl()['errors']?.mismatch">
    <app-translate [key]="'field.password.mismatch'"></app-translate>
  </mat-error>
</mat-form-field>

<!------------------------------------------------------------------------------------------------------->
<!---                        OTHER FIELDS                                                             --->
<!------------------------------------------------------------------------------------------------------->

<app-checkbox *ngIf="dataType.BOOLEAN === field.type"
              [field]="field"
              [formGroup]="formGroup">
</app-checkbox>

<app-file-input *ngIf="dataType.FILE === field.type">
</app-file-input>
