<div [formGroup]="form">

  <!-- The global mat-form-field -->
  <mat-form-field>

    <!------------------------------------------------------------------------------------------------------->
    <!---                        FORM FIELDS                                                              --->
    <!------------------------------------------------------------------------------------------------------->
    <app-simple-input *ngIf="[dataType.NUMBER, dataType.TEXT, dataType.PASSWORD].includes(field.type)">
    </app-simple-input>

    <app-checkbox *ngIf="[dataType.BOOLEAN].includes(field.type)">
    </app-checkbox>

    <!------------------------------------------------------------------------------------------------------->
    <!---                        FIELDS ERROR MANAGEMENT                                                  --->
    <!------------------------------------------------------------------------------------------------------->
    <span *ngIf="getFormControl().dirty">
      <!-- Error message : Required -->
      <mat-error *ngIf="getFormControl()['errors']?.required">
        <app-translate [key]="'field.required'"></app-translate>
      </mat-error>
    </span>

  </mat-form-field>
</div>
