@import '~sass/dashboard-themes';

.input-error {
  margin-top: 0.441667em;
  top: calc(100% - 8.666667em);
  position: relative;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  font-size: 75%;
  color: mat-color(map-get($theme, warn));
}
