<button *ngIf="!isReadOnly" mat-mini-fab color="primary" matTooltip="{{ 'widget.add' | translate }}"
        (click)="openAddWidgetDialog()">
  <mat-icon>add</mat-icon>
</button>

<button *ngIf="!isReadOnly" mat-mini-fab color="primary" matTooltip="{{ 'dashboard.settings' | translate }}"
        (click)="openEditDashboardDialog()">
  <mat-icon>settings_applications</mat-icon>
</button>

<button mat-mini-fab color="primary" matTooltip="{{ 'screen.refresh' | translate }}"
        (click)="refreshConnectedScreens()">
  <mat-icon>refresh</mat-icon>
</button>

<a *ngIf="project" [routerLink]="['/tv']" [queryParams]="{token: project.token}" target="_blank">
  <button mat-mini-fab color="primary" matTooltip="{{ 'tv.view' | translate }}">
    <mat-icon>tv</mat-icon>
  </button>
</a>

<button *ngIf="!isReadOnly" mat-mini-fab color="primary" matTooltip="{{ 'screen.management' | translate }}"
        (click)="openTvManagementDialog()">
  <mat-icon>live_tv</mat-icon>
</button>

<button *ngIf="!isReadOnly" mat-mini-fab color="warn" matTooltip="{{ 'dashboard.delete' | translate }}"
        (click)="deleteDashboardDialog()">
  <mat-icon>delete_forever</mat-icon>
</button>
