<ng-container *ngIf="!isRotationLoading">
  <suricate-pages-header [configuration]="headerConfiguration"></suricate-pages-header>

  <mat-grid-list cols="4" gutterSize="17px" rowHeight="250px">
    <mat-grid-tile *ngFor="let rotationProject of rotationProjects" class="mat-elevation-z3">
      <div class="grid-tile-content-wrapper">
        <a [routerLink]="['/dashboards', rotationProject.projectToken]">
          <div class="grid-tile-body">
            <img
              *ngIf="rotationProject.project.screenshotToken"
              [src]="getContentUrl(rotationProject.project.screenshotToken)"
              alt="Dashboard screenshot"
            />
            <mat-icon *ngIf="!rotationProject.project.screenshotToken" color="primary">
              {{ materialIconRecords[iconEnum.DASHBOARD] }}
            </mat-icon>
          </div>

          <div class="grid-tile-footer" fxLayout="row">
            <div fxFlex>{{ rotationProject.project.name }}</div>
            <div fxFlex fxLayoutAlign="end">
              <mat-icon color="primary" [matBadge]="rotationProject.rotationSpeed">
                {{ materialIconRecords[iconEnum.ACCESS_TIME] }}
              </mat-icon>
            </div>
          </div>
        </a>
      </div>
    </mat-grid-tile>

    <!-- Display the add card, if no rotation project inside the rotation -->
    <mat-grid-tile *ngIf="!rotationProjects" class="mat-elevation-z3" (click)="displayRotationCreation()">
      <div class="grid-tile-content-wrapper">
        <div class="grid-tile-body">
          <mat-icon color="primary"> {{ materialIconRecords[iconEnum.ADD] }} </mat-icon>
        </div>

        <div class="grid-tile-footer">
          {{ 'rotation.add' | translate }}
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>

<div *ngIf="isRotationLoading" class="container without-header" fxLayout="column" fxLayoutAlign="center center">
  <suricate-spinner></suricate-spinner>
</div>
