<suricate-pages-header [configuration]="headerConfiguration"></suricate-pages-header>

<section class="container">
  <mat-horizontal-stepper #wizardStepper [linear]="true" labelPosition="bottom" (selectionChange)="onStepChanged($event)">
    <ng-container *ngFor="let step of wizardConfiguration?.steps; let index = index">
      <ng-template [matStepperIcon]="step.icon">
        <mat-icon> {{ materialIconRecords[step.icon] }} </mat-icon>
      </ng-template>

      <mat-step
        [stepControl]="$any(getFormGroupOfStep(step))"
        [optional]="step.optional"
        [state]="step.icon"
      >
        <ng-template matStepLabel>
          <div class="step-index">Step {{ index + 1 }}</div>
          <div>{{ step.title | translate }}</div>
          <hr />
        </ng-template>

        <ng-container *ngIf="this.currentStep.key === step.key">
          <div class="widget-config-step">
            <div
              *ngIf="step.imageLink || step.description || step.information || step.category"
              class="step-detail"
            >
              <img *ngIf="step.imageLink" [src]="step.imageLink.link" alt="form image" />

              <div class="desc-info">
                <div *ngIf="step.description">
                  <div class="widget-data-title">{{ 'widget.description.title' | translate }}</div>
                  <div>{{ step.description | translate }}</div>
                </div>

                <div *ngIf="step.description">
                  <div class="widget-data-title">{{ 'widget.information.title' | translate }}</div>
                  <div>{{ step.description | translate }}</div>
                </div>
              </div>
            </div>

            <suricate-slide-toggle
              *ngIf="isWidgetConfigurationStep(step) && step.category?.categoryParameters.length > 0"
              [label]="'widget.parameters.category.override.title'"
              (slideToggleButtonPressed)="displayCategorySettings($event)"
            ></suricate-slide-toggle>

            <form [formGroup]="getFormGroupOfStep(step)">
              <suricate-input
                *ngFor="let field of step.fields"
                [formGroup]="getFormGroupOfStep(step)"
                [field]="field"
                (valueChangeEvent)="onValueChanged($event)"
              ></suricate-input>
            </form>
          </div>
        </ng-container>
      </mat-step>
    </ng-container>
  </mat-horizontal-stepper>

  <div class="stepper-actions-wrapper">
    <suricate-buttons class="stepper-actions" [configurations]="wizardButtons"></suricate-buttons>
  </div>
</section>
