<h1 class="little title">
  <app-translate [key]="'widget.add'"></app-translate>
</h1>

<mat-dialog-content>
  <mat-horizontal-stepper #widgetStepper class="mat-primary" [linear]="true">

    <!-- Step 1 : Select category -->
    <mat-step [completed]="step1Completed">
      <ng-template matStepLabel>
        <app-translate [key]="'category.select'"></app-translate>
      </ng-template>

      <mat-grid-list cols="3" rowHeight="250px">
        <mat-grid-tile *ngFor="let category of categories">
          <mat-card class="widget-dialog-card">
            <mat-card-header>
              <mat-card-title> {{category.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="getImageSrc(category.assetToken)">
            <mat-card-actions>
              <button mat-button color="primary" (click)="getWidgets(category.id)">
                <app-translate [key]="'select'"></app-translate>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>

    <!-- Step 2 : Select Widget -->
    <mat-step [(completed)]="step2Completed">
      <ng-template matStepLabel>
        <app-translate [key]="'widget.select'"></app-translate>
      </ng-template>

      <mat-grid-list cols="3" rowHeight="350px" *ngIf="widgets">
        <mat-grid-tile *ngFor="let widget of widgets">
          <mat-card class="widget-dialog-card step2">
            <mat-card-header>
              <mat-card-title> {{widget.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="getImageSrc(widget.imageToken)">
            <mat-card-content>
              {{widget.description}}
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" (click)="setSelectedWidget(widget)">
                <app-translate [key]="'select'"></app-translate>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>

    <!-- Step 3 : Widget Settings -->
    <mat-step>
      <ng-template matStepLabel>
        <app-translate [key]="'widget.settings'"></app-translate>
      </ng-template>

      <div *ngIf="selectedWidget" class="selected-widget-dialog-card">
        <h1> {{selectedWidget.name}} </h1>

        <div class="container">
          <div class="image-container">
            <img [src]="getImageSrc(selectedWidget.imageToken)">
          </div>
          <div class="description-container">
            {{selectedWidget.description}}
          </div>
        </div>

        <div *ngIf="selectedWidget.info" id="widget-info" [innerHTML]="selectedWidget.info | safeHtml ">
        </div>

        <div class="settings-container">
          <form *ngIf="projectWidgetForm"
                id="formSettings"
                [formGroup]="projectWidgetForm"
                (ngSubmit)="addWidget()"
                fxLayout="row wrap"
                novalidate>

            <app-input *ngFor="let field of projectWidgetFormFields"
                       fxFlex="100"
                       [formGroup]="projectWidgetForm"
                       [field]="field">
            </app-input>

            <button mat-raised-button class="mat-elevation-z2" color="primary" type="submit" fxFlex="100">
              <app-translate [key]="'widget.add'"></app-translate>
            </button>
          </form>
        </div>

      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>
    <app-translate [key]="'close'"></app-translate>
  </button>
</mat-dialog-actions>
