/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    background-color: #303030;
}

.mat-raised-button.mat-accent {
    color: white;
}

h1.little {
    font-size: 1.2em;
    color: #7e8188 !important;
    margin: 0;
    font-variant: all-small-caps;
}

mat-form-field .mat-form-field-label {
    color: rgba(255, 255, 255, 0.70);
}
mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(255, 255, 255, 0.70);
}

mat-sidenav > #user-section .mat-expansion-panel-body {
    width: 100%;
    padding: 0;
}

.widget-dialog-card .mat-card-header-text {
  margin: auto !important;
}
.widget-dialog-card.step2 {
  min-height: 275px;
}

.widget-param-multiple .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #1997c6;
}
.widget-param-multiple .mat-pseudo-checkbox-checked {
    background-color: #1997c6;
}