<app-pages-header [secondTitle]="'dashboards.my'"></app-pages-header>

<div fxLayout="col wrap" fxLayoutAlign="start start">

  <!-- Add Dashboard Card -->
  <mat-card id="add-dashboard-card" fxFlex="31%" class="mat-elevation-z2">
    <a class="mat-card-link" (click)="openAddDashboardDialog()">
      <div class="card-icon-container">
        <mat-icon color="primary">add_box</mat-icon>
      </div>
    </a>
    <mat-card-actions align="start">
      <button #addDashboardButton mat-button (click)="openAddDashboardDialog()">
        <app-translate [key]="'dashboard.add'"></app-translate>
      </button>
    </mat-card-actions>
  </mat-card>

  <!-- Other dashboards -->
  <mat-card *ngFor="let dashboard of dashboards" fxFlex="31%">
    <a class="mat-card-link" (click)="navigateToDashboard(dashboard.token)">
      <div *ngIf="dashboard.screenshotToken" class="card-image-container">
        <img mat-card-image [src]="getContentUrl(dashboard.screenshotToken)"/>
      </div>

      <div *ngIf="!dashboard.screenshotToken" class="card-icon-container">
        <mat-icon>dashboard</mat-icon>
      </div>
    </a>
    <mat-card-actions align="start">
      <button mat-button (click)="navigateToDashboard(dashboard.token)">
        {{ dashboard.name }}
      </button>
    </mat-card-actions>
  </mat-card>
</div>
