@import '~@angular/material/theming';

.mat-card {
  & {
    margin-bottom: 20px;
  }

  &:hover {
    @include mat-elevation(8);
  }

  a {
    display: block;
    cursor: pointer;
  }

  .mat-card-content .mat-icon {
    font-size: 5rem;
    width: auto;
    height: auto;
  }
}
