<app-pages-header *ngIf="configuration" [secondTitle]="configuration.key" [showMenu]="false"></app-pages-header>

<form *ngIf="configurationForm" [formGroup]="configurationForm" (ngSubmit)="saveConfiguration()">
  <mat-card id="card-edit-config"
            class="mat-elevation-z8"
            fxLayout="row wrap"
            fxLayoutAlign="center center">

    <mat-card-content fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="80">
      <app-input *ngFor="let field of formFields"
                 fxFlex="100"
                 [formGroup]="configurationForm"
                 [field]="field">
      </app-input>
    </mat-card-content>

    <mat-card-actions fxFlex="80">
      <!-- Submit action-->
      <button mat-raised-button class="mat-elevation-z2" color="primary" type="submit">
        {{ 'save' | translate | uppercase}}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
