<div class="header-container">
  <div class="titles">
    <h1 class="little">{{pageName}}</h1>
    <h2 class="header">{{secondTitle}}</h2>
  </div>

  <div class="actions">
    <!-- Dashboard actions -->
    <div class="dashboard-actions" *ngIf="pageName === 'dashboard'">
      <button mat-fab color="accent" matTooltip="New Widget" (click)="openAddWidgetDialog()"> <mat-icon>add</mat-icon> </button>
      <button mat-fab color="accent" matTooltip="Dashboard Settings"> <mat-icon>settings_applications</mat-icon> </button>
      <button mat-fab color="accent" matTooltip="Refresh"> <mat-icon>refresh</mat-icon> </button>
      <button mat-fab color="accent" matTooltip="TV View"> <mat-icon>tv</mat-icon> </button>
      <button mat-fab color="accent" matTooltip="New TV"> <mat-icon>live_tv</mat-icon> </button>
    </div>
  </div>

  <mat-divider></mat-divider>
</div>
