<div class="container without-header" fxLayout="column" fxLayoutAlign="center center">
  <div class="wrapper mat-elevation-z12" fxLayout="column" fxLayoutAlign="center center" fxFlex="640px">
    <suricate-spinner *ngIf="formSubmitAttempt"></suricate-spinner>

    <form *ngIf="!formSubmitAttempt" class="register-form" [formGroup]="registerForm" fxLayout="column" fxLayoutAlign="center">
      <suricate-input *ngFor="let field of formFields" [formGroup]="registerForm" [field]="field"> </suricate-input>
    </form>

    <suricate-buttons [configurations]="buttonConfigurations" fxLayout="row" fxLayoutAlign="center center"></suricate-buttons>
  </div>
</div>
