<suricate-pages-header [configuration]="headerConfiguration"></suricate-pages-header>

<section class="container" fxLayout="column">
  <div class="search-div" fxLayout="row">
    <suricate-input [field]="searchBarConfig" [formGroup]="formGroup" (valueChangeEvent)="researchChangedEvent($event)" fxFlex="100%">
    </suricate-input>
  </div>

  <div class="list-wrapper" fxLayout="column">
    <ng-container *ngIf="isLoading">
      <suricate-spinner></suricate-spinner>
    </ng-container>

    <ng-container *ngIf="!isLoading">
      <div
        cdkDropList
        [cdkDropListDisabled]="dragAndDropDisabled"
        class="list-container"
        fxFlex="1 1 100%"
        (cdkDropListDropped)="drop($event)"
      >
        <div
          (click)="redirectToBean(object)"
          *ngFor="let object of objectsPaged.content"
          [ngClass]="{ 'list-item-show': listConfiguration.enableShowBean, 'drag-drop-item': !dragAndDropDisabled }"
          class="list-item"
          fxLayout="row wrap"
          cdkDrag
          cdkDragBoundary=".list-container"
        >
          <div *ngIf="getObjectImageURL(object)" class="list-image" fxFlex="20%" fxLayoutAlign="center center">
            <img [src]="getObjectImageURL(object)" alt="Object image" fxFlex="0" fxGrow="0" />
          </div>

          <div [fxFlex]="getDetailBlockSize(object)" class="list-detail" fxLayout="column wrap" fxLayoutAlign="center start">
            <h1>{{ getFirstLabel(object) }}</h1>
            <h2>{{ getSecondLabel(object) }}</h2>
            <h3>{{ getThirdLabel(object) }}</h3>
          </div>

          <div *ngIf="listConfiguration.buttons" class="list-buttons" fxFlex="20%" fxLayout="row" fxLayoutAlign="end center">
            <suricate-buttons
              [configurations]="listConfiguration.buttons"
              [object]="object"
              [disableAllButtons]="disableAllButtons"
            ></suricate-buttons>
          </div>
        </div>
      </div>

      <suricate-paginator
        (pageChange)="pageChanged($event)"
        [currentPage]="objectsPaged.number"
        [pageNbElements]="objectsPaged.size"
        [totalElements]="objectsPaged.totalElements"
      >
      </suricate-paginator>
    </ng-container>
  </div>
</section>
