<suricate-pages-header [configuration]="headerConfiguration"></suricate-pages-header>

<section class="container">
  <div class="search-div">
    <suricate-input [field]="searchBarConfig" [formGroup]="formGroup" (valueChangeEvent)="researchChangedEvent($event)">
    </suricate-input>
  </div>

  <div class="list-wrapper">
    <ng-container *ngIf="isLoading">
      <suricate-spinner></suricate-spinner>
    </ng-container>

    <ng-container *ngIf="!isLoading">
      <div
        cdkDropList
        [cdkDropListDisabled]="dragAndDropDisabled"
        class="list-container"
        (cdkDropListDropped)="onDropEvent($event)"
      >
        <div
          (click)="redirectToBean(object)"
          *ngFor="let object of objectsPaged.content"
          [ngClass]="{ 'list-item-show': listConfiguration.enableShowBean, 'drag-drop-item': !dragAndDropDisabled }"
          class="list-item"
          cdkDrag
          cdkDragBoundary=".list-container"
        >
          <div *ngIf="getObjectImageURL(object)" class="list-image">
            <div class="image-container">
              <img [ngSrc]="getObjectImageURL(object)" fill="true" priority="true" alt="Object image" />
            </div>
          </div>

          <div class="list-detail">
            <h1>{{ getFirstLabel(object) }}</h1>
            <h2>{{ getSecondLabel(object) }}</h2>
            <h3>{{ getThirdLabel(object) }}</h3>
          </div>

          <suricate-buttons *ngIf="listConfiguration.buttons" class="list-buttons" [configurations]="listConfiguration.buttons" [object]="object"></suricate-buttons>
        </div>
      </div>

      <suricate-paginator
        (pageChange)="pageChanged($event)"
        [currentPage]="objectsPaged.number"
        [pageNbElements]="objectsPaged.size"
        [totalElements]="objectsPaged.totalElements"
      >
      </suricate-paginator>
    </ng-container>
  </div>
</section>
