@-webkit-keyframes status-warning-background {
    0%   { background-color: #eeae32 }
    50%  { background-color: #ff9618 }
    100% { background-color: #eeae32 }
}
@-webkit-keyframes status-danger-background {
    0%   { background-color: #e82711 }
    50%  { background-color: #9b2d23 }
    100% { background-color: #e82711 }
}

html.grid {
   font-size: 100%;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}

body.grid {
    margin: 0;
    background-color: #222;
    font-size: 20px;
    color: #fff;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grid-stack b,.grid-stack strong {
    font-weight: bold;
}

.grid-stack a {
    text-decoration: none;
    color: inherit;
}

.grid-stack img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.grid-stack img,.grid-stack object {
    max-width: 100%;
}

.grid-stack iframe {
    max-width: 100%;
}

.grid-stack table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.grid-stack td {
    vertical-align: middle;
}


.grid-stack h1,.grid-stack h2,.grid-stack h3,.grid-stack h4,.grid-stack h5,.grid-stack p {
    padding: 0;
    margin: 0;
}
.grid-stack h1 {
    margin-bottom: 12px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: 10px;
}
.grid-stack h2 {
    text-transform: uppercase;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}
.grid-stack h3 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.grid-stack .icon-background {
    pointer-events: none;
    width: 100%!important;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.1;
    font-size: 275px;
    text-align: center;
    margin-top: 82px;
}

.grid-stack .gs_w {
    width: 100%;
    display: table;
    cursor: pointer;
    overflow: hidden;
}

.grid-stack .widget {
    text-align: center;
    width: inherit;
    height: inherit;
    display: table-cell;
    vertical-align: middle;
    cursor: move;
}

.grid-stack .widget.status-warning {
    background-color: #eeae32;
    -webkit-animation: status-warning-background 2s ease infinite;
    -moz-animation: status-warning-background 2s ease infinite;
    -ms-animation: status-warning-background 2s ease infinite;
}

.grid-stack .widget.status-warning .icon-warning-sign {
    display: inline-block;
}

.grid-stack .widget.status-warning .title,.grid-stack .widget.status-warning .more-info {
    color: #fff;
}

.grid-stack .status-danger {
    color: #fff;
    background-color: #e82711;
    -webkit-animation: status-danger-background 2s ease infinite;
    -moz-animation: status-danger-background 2s ease infinite;
    -ms-animation: status-danger-background 2s ease infinite;
}

.grid-stack .status-warning {
    color: #fff;
    background-color: #ff9618;
    -webkit-animation: status-warning-background 2s ease infinite;
    -moz-animation: status-warning-background 2s ease infinite;
    -ms-animation: status-warning-background 2s ease infinite;
}

.grid-stack .widget.status-danger .icon-warning-sign {
    display: inline-block;
}

.grid-stack .widget.status-danger .title, .widget.status-danger .more-info {
    color: #fff;
}

.grid-stack .more-info {
    font-size: 15px;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
}

.grid-stack .updated-at {
    font-size: 15px;
    position: absolute;
    bottom: 12px;
    left: 0;
    right: 0;
}

.grid-stack #lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.grid-stack {
    margin-top: 10px;
}

.grid-stack clearfix:before,.grid-stack  .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.grid-stack .clearfix:after { clear: both; }
.grid-stack .clearfix { zoom: 1; }

.grid-stack .widget .more-info {
    color: rgba(255, 255, 255, 0.5);
}
.grid-stack .widget .updated-at {
    color: rgba(0, 0, 0, 0.3);
}

.grid-stack.white .preview-holder{
    background-color: #000000;
}

.widget {
    background-color: #dfdfdf;
}

.grid-stack .ui-icon{
    background-image: none;
}

.grid-stack .grid-stack-item-content .grid-stack-item-content-inner{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Screen code */

.error-block {
    width: auto;
    text-align: center;
}

.auth-block {
    margin-top: -36px;
    width: 354px;
    background: rgba(255, 255, 255, 0.83);
    color: #2942A7;
    box-shadow: 0px 1px 5px 0 rgba(41, 66, 167, 0.4);
}

.code-block {
    text-align: center;
    max-width: 95%;
    min-width: 540px;
}

.auth-block {
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0, 0, 0, .55);
    color: #fff;
    padding: 32px;
}

.auth-block h1 {
    font-size: 29px;
    font-weight: 300;
    margin-bottom: 28px;
    text-align: center;
}

h1 {
    margin: .67em 0;
}

.top-code #code {
    font-size: 130px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.no-widget{
    text-align: center;
}

.widget .fullwidget {
    position: absolute;
    width: 100%;
    height: 100%;
}


.widget .status-danger,.widget .status-warning  {
    font-size: 14px;
    padding: 8px;
    color:rgba(255, 255, 255, 0.82);
}

.widget .status-danger i, .widget .status-warning i, #server-connection-error i{
    margin-right: 5px;
}

.widget .link{
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#server-connection-error {
    position: absolute;
    z-index: 1000;
    left: 35%;
    width: 30%;
    text-align: center;
    border-radius: 3px;
    padding: 10px;
    background-color: #eeae32;
    -webkit-animation: status-warning-background 2s ease infinite;
    -moz-animation: status-warning-background 2s ease infinite;
    -ms-animation: status-warning-background 2s ease infinite;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
        opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
        opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
        opacity: .2;
    }
}

.retry span {
    line-height: 2px;
    font-size: 30px;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.retry span:nth-child(2) {
    animation-delay: .2s;
}

.retry span:nth-child(3) {
    animation-delay: .5s;
}

.retry span:nth-child(4) {
    animation-delay: .7s;
}
