<suricate-pages-header [configuration]="headerConfiguration"></suricate-pages-header>

<section class="container">
  @if (isLoading) {
    <suricate-spinner> </suricate-spinner>
  }

  <mat-grid-list cols="4" gutterSize="17px" rowHeight="250px">
    @if (!projects || projects.length === 0) {
      <mat-grid-tile (click)="openCreateDashboardFormSidenav()" class="mat-elevation-z3">
        <div class="grid-tile-content-wrapper">
          <div class="grid-tile-body">
            <mat-icon color="primary"> {{ materialIconRecords[iconEnum.ADD] }} </mat-icon>
          </div>
          <div class="grid-tile-footer">
            {{ 'dashboard.create' | translate }}
          </div>
        </div>
      </mat-grid-tile>
    }

    @for (project of projects; track project) {
      <mat-grid-tile class="mat-elevation-z3">
        <div class="grid-tile-content-wrapper">
          <a [routerLink]="['/dashboards', project.token, project.grids[0].id]">
            <div class="grid-tile-body">
              <div class="grid-tile-body-image">
                @if (project.screenshotToken) {
                  <img [ngSrc]="getContentUrl(project.screenshotToken)" fill="true" priority="true" alt="Dashboard screenshot" />
                }
              </div>
              @if (!project.screenshotToken) {
                <mat-icon color="primary">
                  {{ materialIconRecords[iconEnum.DASHBOARD] }}
                </mat-icon>
              }
            </div>
            <div class="grid-tile-footer">
              {{ project.name }}
            </div>
          </a>
        </div>
      </mat-grid-tile>
    }
  </mat-grid-list>
</section>
