<suricate-pages-header [configuration]="headerConfiguration"></suricate-pages-header>

<section class="container" fxLayout="column">
    <suricate-spinner *ngIf="isLoading"> </suricate-spinner>

    <mat-grid-list cols="4" gutterSize="17px" rowHeight="250px">
        <mat-grid-tile (click)="openDashboardFormSidenav()" class="mat-elevation-z3">
            <div class="grid-tile-content-wrapper">
                <div class="grid-tile-body">
                    <mat-icon color="primary"> {{ materialIconRecords[iconEnum.ADD] }} </mat-icon>
                </div>

                <div class="grid-tile-footer">
                    {{ 'dashboard.create' | translate }}
                </div>
            </div>
        </mat-grid-tile>

        <mat-grid-tile *ngFor="let project of projects" class="mat-elevation-z3">
            <div class="grid-tile-content-wrapper">
                <a [routerLink]="['/dashboards', project.token, project.grids[0].id]">
                    <div class="grid-tile-body">
                        <img *ngIf="project.screenshotToken" [src]="getContentUrl(project.screenshotToken)" alt="Dashboard screenshot" />
                        <mat-icon *ngIf="!project.screenshotToken" color="primary">
                            {{ materialIconRecords[iconEnum.DASHBOARD] }}
                        </mat-icon>
                    </div>

                    <div class="grid-tile-footer">
                        {{ project.name }}
                    </div>
                </a>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</section>