<h2 mat-dialog-title>
  <app-translate [key]="'widget.edit'"></app-translate>
</h2>

<mat-dialog-content>
  <div class="widget-dialog">
    <h1> {{widget?.name}} </h1>

    <div class="container">
      <div class="image-container">
        <img [src]="getImageSrc(widget?.imageToken) | safeUrl">
      </div>
      <div class="description-container">
        {{widget?.description}}
      </div>
    </div>

    <div *ngIf="widget?.info" id="widget-info" [innerHTML]="widget.info | safeHtml ">
    </div>

    <div class="settings-container">
      <form *ngIf="projectWidgetForm"
            id="formSettings"
            [formGroup]="projectWidgetForm"
            (ngSubmit)="editWidget()"
            fxLayout="row wrap"
            novalidate>

        <app-input *ngFor="let field of formFields"
                   fxFlex="100"
                   [formGroup]="projectWidgetForm"
                   [field]="field">
        </app-input>

        <button mat-raised-button class="mat-elevation-z2" color="primary" type="submit" fxFlex="100">
          <app-translate [key]="'save'"></app-translate>
        </button>
      </form>
    </div>
  </div>
</mat-dialog-content>
