<suricate-pages-header [configuration]="headerConfiguration"></suricate-pages-header>

<section class="container">
  <mat-tab-group color="primary" mat-align-tabs="center" animationDuration="300ms" fxFlex="40%" dynamicHeight>
    <mat-tab label="{{ 'settings.ux' | translate }}">
      <suricate-ux-settings></suricate-ux-settings>
    </mat-tab>

    <mat-tab label="{{ 'settings.security' | translate }}">
      <suricate-security-settings></suricate-security-settings>
    </mat-tab>
  </mat-tab-group>
</section>
