name: Tag

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'Release version'
        required: true

jobs:
  tag:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.CI_CD_TOKEN }}

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Set up NodeJS 12.x
        uses: actions/setup-node@v3
        with:
          node-version: '12.x'

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Tag
        run: |
          npm --no-git-tag-version version ${{ github.event.inputs.release_version }} 
          git add package.json
          mvn versions:set -DnewVersion=${{ github.event.inputs.release_version }}
          git add pom.xml
          git commit -s -m "Prepare release v${{ github.event.inputs.release_version }}"
          git push
          git tag v${{ github.event.inputs.release_version }} -s -m ''
          git push origin v${{ github.event.inputs.release_version }}

      - name: Update next version
        run: |
          mvn versions:set -DnextSnapshot=true
          git add pom.xml
          npm --no-git-tag-version version $(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)-next
          git add package.json
          git commit -s -m "Prepare next snapshot version [skip ci]"
          git push
