@if (!mosaicOptions) {
  <suricate-spinner></suricate-spinner>
}

@if (mosaicOptions?.length > 0) {
  <mat-grid-list [cols]="field.columnNumber ? field.columnNumber : 4" rowHeight="250px" gutterSize="17px">
    @for (mosaicOption of mosaicOptions; track mosaicOption) {
      <mat-grid-tile
        class="mat-elevation-z3"
        [ngClass]="{ 'option-selected': optionSelected?.value === mosaicOption.value }"
        (click)="selectOption(mosaicOption)"
        >
        <div class="grid-tile-content-wrapper">
          <div class="grid-tile-body">
            <div class="grid-tile-body-image">
              @if (mosaicOption.imageUrl) {
                <img [ngSrc]="mosaicOption.imageUrl" fill="true" priority="true" alt="Mosaic entry image" />
              }
            </div>
            @if (!mosaicOption.imageUrl) {
              <mat-icon color="primary">
                {{ materialIconRecords[mosaicOption.icon] }}
              </mat-icon>
            }
          </div>
          <div class="grid-tile-footer">
            {{ mosaicOption.description }}
          </div>
        </div>
      </mat-grid-tile>
    }
  </mat-grid-list>
}
